<!-- 
		=============================================
			Block Feature Thirty
		============================================== 
		-->
<div class="block-feature-thirty bg-one border-30 z-1 pt-100 lg-pt-80 pb-130 lg-pb-80 mt-30 lg-mt-20 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-xxl-9 col-xl-8 col-lg-7 m-auto">
                <div class="title-one text-center mb-80 lg-mb-40">
                    <h2>7,00000+ User uses our card.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 order-lg-last">
                <div class="ps-xl-5 ms-xxl-5">
                    <p class="fs-22 fw-500 text-white mb-65 md-mb-40">Piku offers virtual debit cards, FDIC-insured USD
                        accounts through City Savings.</p>
                    <p class="fs-22 fw-500 text-white">Online shopping or holiday expenses, auto-converts currencies at
                        the lowest fees, ensuring hassle-free transactions globally.</p>

                    <div class="counter-wrapper mt-100 xl-mt-60 lg-mt-30">
                        <div class="row">
                            <div class="col-7">
                                <div class="counter-block-one mt-20">
                                    <div class="main-count fw-500 text-white">$<span [countUp]="9.1"></span>B+</div>
                                    <span class="fs-22">Coverage</span>
                                </div>
                                <!-- /.counter-block-one -->
                            </div>
                            <div class="col-5">
                                <div class="counter-block-one mt-20">
                                    <div class="main-count fw-500 text-white"><span [countUp]="1.2"></span>M</div>
                                    <span class="fs-22">Low interest rate</span>
                                </div>
                                <!-- /.counter-block-one -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="assets/images/media/img_35.jpg" alt="" class="border-30 md-mt-40">
            </div>
        </div>
    </div>
    <img src="assets/images/shape/shape_85.svg" alt="" class="shapes shape_02">
</div>
<!-- /.block-feature-thirty -->


<!--
		=====================================================
			BLock Feature Two
		=====================================================
		-->
<div class="block-feature-two mb-30 lg-mb-20">
    <div class="row gx-xl-4">
        <div class="col-lg-4 d-flex wow fadeInUp mt-30 lg-mt-20">
            <div class="card-style-one text-center border-30 bg-four w-100">
                <div class="icon rounded-circle bg-dark d-flex align-items-center justify-content-center m-auto"><img
                        src="assets/images/icon/icon_80.svg" alt=""></div>
                <h3 class="text-dark">Receive USD in <br> minutes</h3>
                <p class="fs-24 fw-500 text-dark">Receive global employer payments directly into your account.</p>
            </div>
            <!-- /.card-style-one -->
        </div>
        <div class="col-lg-4 d-flex wow fadeInUp mt-30 lg-mt-20" data-wow-delay="0.1s">
            <div class="card-style-one text-center border-30 bg-four w-100">
                <div class="icon rounded-circle bg-dark d-flex align-items-center justify-content-center m-auto"><img
                        src="assets/images/icon/icon_81.svg" alt=""></div>
                <h3 class="text-dark">Protection & highly <br> Security</h3>
                <p class="fs-24 fw-500 text-dark">No monthly charges for holding your money in the account indefinitely.
                </p>
            </div>
            <!-- /.card-style-one -->
        </div>
        <div class="col-lg-4 d-flex wow fadeInUp mt-30 lg-mt-20" data-wow-delay="0.2s">
            <div class="card-style-one text-center border-30 bg-four w-100">
                <div class="icon rounded-circle bg-dark d-flex align-items-center justify-content-center m-auto"><img
                        src="assets/images/icon/icon_82.svg" alt=""></div>
                <h3 class="text-dark">Transfer Home</h3>
                <p class="fs-24 fw-500 text-dark">Return money to your local bank with the best available market rates.
                </p>
            </div>
            <!-- /.card-style-one -->
        </div>
        <div class="col-lg-4 d-flex wow fadeInUp mt-30 lg-mt-20">
            <div class="card-style-one text-center border-30 bg-four w-100">
                <div class="icon rounded-circle bg-dark d-flex align-items-center justify-content-center m-auto"><img
                        src="assets/images/icon/icon_83.svg" alt=""></div>
                <h3 class="text-dark">24/7 Dedicated <br>Support</h3>
                <p class="fs-24 fw-500 text-dark">Receive global employer payments directly into your account.</p>
            </div>
            <!-- /.card-style-one -->
        </div>
        <div class="col-lg-4 d-flex wow fadeInUp mt-30 lg-mt-20" data-wow-delay="0.1s">
            <div class="card-style-one text-center border-30 bg-four w-100">
                <div class="icon rounded-circle bg-dark d-flex align-items-center justify-content-center m-auto"><img
                        src="assets/images/icon/icon_84.svg" alt=""></div>
                <h3 class="text-dark">Multi-Currency <br>Card</h3>
                <p class="fs-24 fw-500 text-dark">No monthly charges for holding your money in the account indefinitely.
                </p>
            </div>
            <!-- /.card-style-one -->
        </div>
        <div class="col-lg-4 d-flex wow fadeInUp mt-30 lg-mt-20" data-wow-delay="0.2s">
            <div class="card-style-one text-center border-30 bg-four w-100">
                <div class="icon rounded-circle bg-dark d-flex align-items-center justify-content-center m-auto"><img
                        src="assets/images/icon/icon_85.svg" alt=""></div>
                <h3 class="text-dark">E-Wallet Facility</h3>
                <p class="fs-24 fw-500 text-dark">Return money to your local bank with the best available market rates.
                </p>
            </div>
            <!-- /.card-style-one -->
        </div>
    </div>
</div>
<!-- /.block-feature-two -->



<!--
		=====================================================
			BLock Feature One
		=====================================================
		-->
<div class="block-feature-one border-30 bg-one mb-30 lg-mb-20 pt-150 lg-pt-80 pb-200">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-7 col-lg-6">
                <div class="pe-lg-5 me-xxl-4 md-mb-60">
                    <div class="title-one">
                        <h2>Why we’re the perfect fit for you.</h2>
                    </div>
                    <div class="accordion accordion-style-five me-xxl-5 mt-35 lg-mt-30" ngbAccordion #accordion="ngbAccordion" [closeOthers]="true">
                        <div class="accordion-item" ngbAccordionItem="first" #first="ngbAccordionItem" [collapsed]="false">
                            <h2 class="accordion-header" ngbAccordionHeader>
                                <button class="accordion-button" type="button" ngbAccordionToggle>
                                    Multi-Currency Card
                                </button>
                            </h2>
                            <div class="accordion-collapse collapse"
                                 ngbAccordionCollapse>
                                <div class="accordion-body" ngbAccordionBody>
                                    <p class="fs-22">Our founders Dustin Moskovitz and Justin Rosenstein met while
                                        leading Engineering .</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item" ngbAccordionItem="sec" #sec="ngbAccordionItem" [collapsed]="true">
                            <h2 class="accordion-header" ngbAccordionHeader>
                                <button class="accordion-button" type="button" ngbAccordionToggle>
                                    FDA Approved Agency
                                </button>
                            </h2>
                            <div class="accordion-collapse collapse"  ngbAccordionCollapse>
                                <div class="accordion-body" ngbAccordionBody>
                                    <p class="fs-22">Our founders Dustin Moskovitz and Justin Rosenstein met while
                                        leading Engineering .</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item" ngbAccordionItem="three" #three="ngbAccordionItem" [collapsed]="true">
                            <h2 class="accordion-header" ngbAccordionHeader>
                                <button class="accordion-button" type="button" ngbAccordionToggle>
                                    24/7 Support
                                </button>
                            </h2>
                            <div class="accordion-collapse collapse" ngbAccordionCollapse>
                                <div class="accordion-body" ngbAccordionBody>
                                    <p class="fs-22">Our founders Dustin Moskovitz and Justin Rosenstein met while
                                        leading Engineering .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-5 col-lg-6 col-md-7 m-auto text-end">
                <div class="img-holder z-1 d-inline-block position-relative">
                    <img src="assets/images/assets/card_01.png" alt="">
                    <img src="assets/images/assets/card_02.png" alt="" class="card_01 wow fadeInLeft"
                        data-wow-delay="0.1s">
                    <img src="assets/images/assets/card_03.png" alt="" class="card_02 wow fadeInLeft"
                        data-wow-delay="0.2s">
                    <img src="assets/images/shape/shape_02.svg" alt="" class="shapes shape_01 wow fadeInLeft"
                        data-wow-delay="0.3s">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.block-feature-one -->



<!--
		=====================================================
			Feedback Section One
		=====================================================
		-->
<div class="feedback-section-one mb-30 lg-mb-20">
    <div class="feedback-slider-one">
        <app-owl-corosel [bgColor]="'bg-three'"></app-owl-corosel>
    </div>
</div>

<app-fancy-banner></app-fancy-banner>