<div class="app-integration-one mt-170 xl-mt-150 lg-mt-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-11 m-auto">
                <div class="title-four text-center mb-95 lg-mb-40">
                    <div class="text-uppercase mb-10">INTEGRATION</div>
                    <h2 class="fw-bold">Piku integrates tools, services, simplifying workflow.</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="logo-wrapper">
        <div class="partner-logo-two">
            <owl-carousel-o [options]="customOptionsOne">
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="logo-box d-flex align-items-center justify-content-center"
                            style="background: #FE65E5;"><img src="assets/images/logo/p_logo_43.png" alt=""></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="logo-box d-flex align-items-center justify-content-center"
                            style="background: #24CAFF;"><img src="assets/images/logo/p_logo_42.png" alt=""></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="logo-box d-flex align-items-center justify-content-center"
                            style="background: #FF7F54;"><img src="assets/images/logo/p_logo_46.png" alt=""></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="logo-box d-flex align-items-center justify-content-center"
                            style="background: #F5DC00;"><img src="assets/images/logo/p_logo_45.png" alt=""></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="logo-box d-flex align-items-center justify-content-center"
                            style="background: #4EE265;"><img src="assets/images/logo/p_logo_44.png" alt=""></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="logo-box d-flex align-items-center justify-content-center"
                            style="background: #FE65E5;"><img src="assets/images/logo/p_logo_43.png" alt=""></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="logo-box d-flex align-items-center justify-content-center"
                            style="background: #31D9EC;"><img src="assets/images/logo/p_logo_42.png" alt=""></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="logo-box d-flex align-items-center justify-content-center"
                            style="background: #9F54FF;"><img src="assets/images/logo/p_logo_41.png" alt=""></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="logo-box d-flex align-items-center justify-content-center"
                            style="background: #91C400;"><img src="assets/images/logo/p_logo_40.png" alt=""></div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <!-- /.partner-logo-two -->
    </div>

    <div class="text-center mt-75 lg-mt-40">
        <p class="fs-28 font-manrope text-white mb-25">Connect more than 6000+ tools</p>
        <a href="javascript:void(0)" class="btn-fifteen">Explore All</a>
    </div>
</div>