<!--
		=====================================================
			FAQ Section One
		=====================================================
		-->
<div class="faq-section-one bg-four position-relative z-1 pt-150 lg-pt-80 pb-120 lg-pb-80 border-30 mb-30 lg-mb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 m-auto">
                <div class="title-one text-center mb-80 xl-mb-60 md-mb-40">
                    <h2 class="text-dark">Frequently Asked questions</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div ngbAccordion #accordion="ngbAccordion" class="accordion accordion-style-one" [closeOthers]="true" >
                    <div ngbAccordionItem="firstInfo" #firstInfo="ngbAccordionItem" [collapsed]="true" class="accordion-item">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAOne" aria-expanded="false" aria-controls="collapseAOne"
                                ngbAccordionToggle>
                                I have running plan, How can I change it?
                            </button>
                        </h2>
                        <div id="collapseAOne" class="accordion-collapse collapse" data-bs-parent="#accordionTwo"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <ng-template>
                                    <p class="fs-22">It only takes 5 minutes. Set-up is smooth & simple, with fully
                                        customisable filter to the right one.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem="secInfo" #secInfo="ngbAccordionItem" [collapsed]="true" class="accordion-item">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAOne" aria-expanded="false" aria-controls="collapseAOne"
                                ngbAccordionToggle>
                                How does piku cost?
                            </button>
                        </h2>
                        <div id="collapseAOne" class="accordion-collapse collapse" data-bs-parent="#accordionTwo"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <ng-template>
                                    <p class="fs-22">It only takes 5 minutes. Set-up is smooth & simple, with fully customisable filter to the right one.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem="threeThree" #threeThree="ngbAccordionItem" [collapsed]="true" class="accordion-item">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAOne" aria-expanded="false" aria-controls="collapseAOne"
                                ngbAccordionToggle>
                                Why I should choose piku?
                            </button>
                        </h2>
                        <div id="collapseAOne" class="accordion-collapse collapse" data-bs-parent="#accordionTwo"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <ng-template>
                                    <p class="fs-22">It only takes 5 minutes. Set-up is smooth & simple, with fully
                                        customisable filter to the right one.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div ngbAccordion #accordion="ngbAccordion" class="accordion accordion-style-one" [closeOthers]="true">
                    <div ngbAccordionItem="first" #first="ngbAccordionItem" [collapsed]="true" class="accordion-item">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAOne" aria-expanded="false" aria-controls="collapseAOne"
                                ngbAccordionToggle>
                                I have running plan, How can I change it?
                            </button>
                        </h2>
                        <div id="collapseAOne" class="accordion-collapse collapse" data-bs-parent="#accordionTwo"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <ng-template>
                                    <p class="fs-22">It only takes 5 minutes. Set-up is smooth & simple, with fully
                                        customisable filter to the right one.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem="sec" #sec="ngbAccordionItem" [collapsed]="true" class="accordion-item">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAOne" aria-expanded="false" aria-controls="collapseAOne"
                                ngbAccordionToggle>
                                How does piku cost?
                            </button>
                        </h2>
                        <div id="collapseAOne" class="accordion-collapse collapse" data-bs-parent="#accordionTwo"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <ng-template>
                                    <p class="fs-22">It only takes 5 minutes. Set-up is smooth & simple, with fully customisable filter to the right one.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem="three" #three="ngbAccordionItem" [collapsed]="true" class="accordion-item">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAOne" aria-expanded="false" aria-controls="collapseAOne"
                                ngbAccordionToggle>
                                Why I should choose piku?
                            </button>
                        </h2>
                        <div id="collapseAOne" class="accordion-collapse collapse" data-bs-parent="#accordionTwo"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <ng-template>
                                    <p class="fs-22">It only takes 5 minutes. Set-up is smooth & simple, with fully
                                        customisable filter to the right one.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-60 lg-mt-40">
            <h4 class="mb-35 text-dark">Don’t find your answer?</h4>
            <a routerLink="/contact-v1"  class="btn-two xl style-two">Contact us</a>
        </div>
    </div>
    <img src="assets/images/shape/shape_06.svg" alt="" class="shapes shape_01">
    <img src="assets/images/shape/shape_07.svg" alt="" class="shapes shape_02">
</div>