<div id="projectsSection" class="project-section-one mt-0 lg-mt-0 pt-80 pb-80" style="background-color: black;">
    <div class="container xl">
        <div class="position-relative">
            <div class="title-three pb-10">
                <h1 class="hero-heading text-uppercase wow fadeInUp">Conoce nuestro <span
                        style="font-weight: 800;">portafolio</span>.</h1>
            </div>

            <div class="project-block-one overflow-hidden mt-60 lg-mt-20 card-modify"
                *ngFor="let item of portfolioItems">
                <div class="row gx-0">
                    <div class="col-lg-6 d-flex">
                        <div class="text-meta w-100 inside-card">
                            <div class="num font-Montserrat">{{ item.num }}</div>
                            <a [routerLink]="item.link" class="title text-uppercase fw-500 title-project">{{ item.title
                                }}</a>
                            <p class="fs-28 text-white description-project">{{ item.description }}</p>
                            <ul class="style-none d-flex flex-wrap">
                                <li *ngFor="let tag of item.tags">
                                    <a [routerLink]="item.link">{{ tag }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex inside-card">
                        <div class="image-meta w-100 position-relative image-hover-container">
                            <a [routerLink]="item.link">
                                <img [src]="item.imageUrl" alt="" class="ms-auto wow fadeInRight image-hover">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.project-block-one -->
        </div>
    </div>
    
    <div style="padding: 7rem;">
        <div class="title-three pb-10" style="margin-top: 1rem;">
            <h1 class="hero-heading text-uppercase wow fadeInUp">
                <span style="font-weight: 800;">Proceso</span>.
            </h1>
        </div>
    
        <div class="conjuntoProceos">
            <div class="proceso">
                 <div (click)="mostrarTexto('discovery')" style="display: flex;" >
                    <div class="linea"></div>
                    <div>
                        <h1 class="hero-heading text-uppercase font-size-4rem" style="font-weight: 800;">01</h1>
                        <h1 class="">Discovery</h1>
                    </div>
                </div>
                <p
                *ngIf="textoSeleccionado === 'discovery'"
                [ngClass]="'animated-fadeInDown'"
                style="margin-top: 1rem; font-size: 1rem;"
                >
                Texto relacionado con el paso Discovery.
                </p>

            </div>
           
            
           
            
            <div class="proceso">
                <div (click)="mostrarTexto('exploration')" style="display: flex;">
                    <div class="linea"></div>
                    <div>
                        <h1 class="hero-heading text-uppercase font-size-4rem" style="font-weight: 800;">02</h1>
                        <h1 class="">Exploration</h1>
                    </div>
                </div>
                <p
                *ngIf="textoSeleccionado === 'exploration'"
                [ngClass]="'animated-fadeInDown'"
                style="margin-top: 1rem; font-size: 1rem;"
                >
                Texto relacionado con el paso Discovery.
                </p>

            </div>
            
            
            
            <div class="proceso">
                <div (click)="mostrarTexto('execution')" style="display: flex;">
                    <div class="linea"></div>
                    <div>
                        <h1 class="hero-heading text-uppercase font-size-4rem" style="font-weight: 800;">03</h1>
                        <h1 class="">Execution</h1>
                    </div>
                </div>
                <p
                *ngIf="textoSeleccionado === 'execution'"
                [ngClass]="'animated-fadeInDown'"
                style="margin-top: 1rem; font-size: 1rem;"
                >
                Texto relacionado con el paso Discovery.
                </p>

            </div>
            
            
            
            
            <div class="proceso">
                <div (click)="mostrarTexto('implementacion')" style="display: flex;">
                    <div class="linea"></div>
                    <div>
                        <h1 class="hero-heading text-uppercase font-size-4rem" style="font-weight: 800;">04</h1>
                        <h1 class="">Implementación</h1>
                    </div>
                </div>
                
                <p
                *ngIf="textoSeleccionado === 'implementacion'"
                [ngClass]="'animated-fadeInDown'"
                style="margin-top: 1rem; font-size: 1rem;"
                >
                Texto relacionado con el paso Discovery.
                </p>

            </div>
        </div>
    </div>

    
</div>