<div class="project-section-one mt-180 lg-mt-80" style="background-image: url(assets/images/assets/bg_01.png);">
    <div class="container xl">
        <div class="position-relative">
            <div class="title-three pb-10">
                <h1 class="hero-heading text-uppercase wow fadeInUp">Conoce nuestro <span
                        style="font-weight: 800;">portafolio</span>.</h1>
            </div>

            <div class="project-block-one overflow-hidden mt-60 lg-mt-20 card-modify"
                *ngFor="let item of portfolioItems">
                <div class="row gx-0">
                    <div class="col-lg-6 d-flex">
                        <div class="text-meta w-100 inside-card">
                            <div class="num font-Montserrat">{{ item.num }}</div>
                            <a [routerLink]="item.link" class="title text-uppercase fw-500 title-project">{{ item.title
                                }}</a>
                            <p class="fs-28 text-white description-project">{{ item.description }}</p>
                            <ul class="style-none d-flex flex-wrap">
                                <li *ngFor="let tag of item.tags">
                                    <a [routerLink]="item.link">{{ tag }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex inside-card">
                        <div class="image-meta w-100 position-relative image-hover-container">
                            <a [routerLink]="item.link">
                                <img [src]="item.imageUrl" alt="" class="ms-auto wow fadeInRight image-hover">
                            </a>
                            <div class="animated-cursor">
                                <span class="leer-mas-text">Leer más</span>
                                <span class="click-icon">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 22V8" stroke="#fff" stroke-width="2.5" stroke-linecap="round"/>
                                        <path d="M16 22c-2.5 0-4.5-2-4.5-4.5S13.5 13 16 13s4.5 2 4.5 4.5S18.5 22 16 22Z" stroke="#fff" stroke-width="2.5" fill="none"/>
                                        <path d="M16 28c6 0 10-4 10-10" stroke="#fff" stroke-width="2" stroke-linecap="round" opacity="0.5"/>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.project-block-one -->
        </div>
    </div>
</div>