<div id="projectsSection" class="project-section-one mt-0 lg-mt-0 pt-80 pb-80" style="background-color: black;">
    <div class="container xl">
        <div class="position-relative">
            <div class="title-three pb-40">
                <h1 class="hero-heading text-uppercase wow fadeInUp text-center">Conoce nuestro <span
                        style="font-weight: 800; color: #fff;">portafolio</span></h1>
                <p class="text-center text-white mt-3 fs-18 opacity-75">Proyectos que transforman ideas en experiencias digitales únicas</p>
            </div>

            <div class="project-block-one overflow-hidden mt-60 lg-mt-20 card-modify"
                *ngFor="let item of portfolioItems; let i = index">
                <div class="row gx-0 project-card">
                    <div class="col-lg-6 d-flex inside-card">
                        <div class="image-meta w-100 position-relative image-hover-container">
                            <a [routerLink]="item.link" class="project-link">
                                <img [src]="item.imageUrl" alt="" class="ms-auto wow fadeInRight image-hover">
                                <div class="image-overlay">
                                    <div class="overlay-content">
                                        <i class="fas fa-external-link-alt"></i>
                                        <span>Ver proyecto</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex">
                        <div class="text-meta w-100 inside-card">
                            <div class="project-header">
                                <div class="num font-Montserrat">{{ item.num }}</div>
                                <div class="project-badge">
                                    <i class="fas fa-star"></i>
                                    <span>Destacado</span>
                                </div>
                            </div>
                            
                            <a [routerLink]="item.link" class="title text-uppercase fw-500 title-project project-title-animated">
                                {{ item.title }}
                                <span class="arrow-animated">&#8594;</span>
                            </a>
                            
                            <p class="fs-28 text-white description-project">{{ item.description }}</p>
                            
                            <div class="project-features">
                                <div class="feature-item" *ngFor="let tag of item.tags">
                                    <i class="fas fa-check"></i>
                                    <span>{{ tag }}</span>
                                </div>
                            </div>
                            
                            <div class="project-cta">
                                <a [routerLink]="item.link" class="btn-view-project">
                                    <span>Ver detalles</span>
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>