<header class="theme-main-menu menu-style-two sticky-menu menu-overlay">
    <div class="inner-content gap-one">
        <div class="top-header position-relative">
            <div class="d-flex align-items-center justify-content-between">
                <div class="logo order-lg-0">
                    <a [routerLink]="['/']" class="d-flex align-items-center">
                        <img src="assets/images/logo/logo_02.svg" alt="">
                    </a>
                </div>
                <!-- logo -->
                <div><a [routerLink]="['/']" class="fw-500 text-white">Go to home</a></div>
            </div>
        </div> <!--/.top-header-->
    </div> <!-- /.inner-content -->
</header> 