<div class="error-page bg-one border-30 z-1 pt-130 pb-90 md-pb-40 mt-30 lg-mt-20 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-8">
                <h2>404</h2>
                <h3>Page Not Found </h3>
                <p class="fs-24 pe-xxl-5 mt-30 mb-35">Publishing industries for previewing layouts & visual mockups used.</p>

                <a [routerLink]="['/']" class="btn-seven">Go Back</a>
            </div>
        </div>
    </div>
    <img src="assets/images/assets/ils_26.png" alt="" class="illustration">
    <img src="assets/images/shape/shape_93.svg" alt="" class="shapes shape_01">
</div>