<div class="team-section-two bg-one border-30 z-1 pt-120 lg-pt-80 pb-140 lg-pb-80 mt-30 lg-mt-20 mb-30 lg-mb-20 position-relative">
    <div class="container">
        <div class="title-one text-center mb-40 lg-mb-10">
            <h2>Our Team</h2>
        </div>

        <div class="row gx-xxl-5">
            <div class="col-lg-4 col-md-6">
                <div class="team-block mt-40">
                    <img src="assets/images/media/img_74.jpg" alt="" class="w-100">
                    <div class="text position-relative text-center">
                        <h6>Hussy Mike</h6>
                        <span>UI/UX Designer</span>
                        <a href="javascript:void(0)" class="stretched-link"></a>
                    </div>
                </div>
                <!-- /.team-block -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-block mt-40">
                    <img src="assets/images/media/img_75.jpg" alt="" class="w-100">
                    <div class="text position-relative text-center">
                        <h6>Carlos Santro</h6>
                        <span>UI/UX Designer</span>
                        <a href="javascript:void(0)" class="stretched-link"></a>
                    </div>
                </div>
                <!-- /.team-block -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-block mt-40">
                    <img src="assets/images/media/img_76.jpg" alt="" class="w-100">
                    <div class="text position-relative text-center">
                        <h6>Zabed Ansari</h6>
                        <span>Designer</span>
                        <a href="javascript:void(0)" class="stretched-link"></a>
                    </div>
                </div>
                <!-- /.team-block -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-block mt-40">
                    <img src="assets/images/media/img_77.jpg" alt="" class="w-100">
                    <div class="text position-relative text-center">
                        <h6>Hussy Mike</h6>
                        <span>UI/UX Designer</span>
                        <a href="javascript:void(0)" class="stretched-link"></a>
                    </div>
                </div>
                <!-- /.team-block -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-block mt-40">
                    <img src="assets/images/media/img_78.jpg" alt="" class="w-100">
                    <div class="text position-relative text-center">
                        <h6>Carlos Santro</h6>
                        <span>UI/UX Designer</span>
                        <a href="javascript:void(0)" class="stretched-link"></a>
                    </div>
                </div>
                <!-- /.team-block -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-block mt-40">
                    <img src="assets/images/media/img_79.jpg" alt="" class="w-100">
                    <div class="text position-relative text-center">
                        <h6>Zabed Ansari</h6>
                        <span>Designer</span>
                        <a href="javascript:void(0)" class="stretched-link"></a>
                    </div>
                </div>
                <!-- /.team-block -->
            </div>
        </div>
    </div>
    <img src="assets/images/shape/shape_90.svg" alt="" class="shapes shape_01">
</div>

<app-fancy-banner></app-fancy-banner>
