<!-- 
		=============================================
			Hero Banner
		============================================== 
		-->
<div class="hero-banner-five z-1 position-relative">
    <div class="wrapper position-relative z-1 pt-200 md-pt-150 pb-130 lg-pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <div class="badge-tag mt-30">#1 App in the market</div>
                    <h1 class="hero-heading wow fadeInUp">work <span>project</span> share</h1>
                    <p class="fs-28 font-manrope pt-35 pb-20 pe-xxl-5 wow fadeInUp" data-wow-delay="0.1s">Seamlessly
                        integrate teams, tasks, & documents with the all-in-one piku app.</p>

                    <div class="d-flex align-items-center flex-wrap wow fadeInUp" data-wow-delay="0.2s">
                        <a href="javascript:void(0)" class="btn-thirteen mt-10 me-3">Start your free trial</a>
                        <a class="btn-fourteen mt-10" data-fancybox
                            href="https://www.youtube.com/embed/aXFSJTjVjw0">Watch Video</a>
                    </div>
                </div>
            </div>
        </div>
        <img src="assets/images/assets/card_09.png" alt="" class="illustration wow fadeInRight">

        <div class="container">
            <div class="d-flex align-items-center justify-content-between flex-wrap mt-100 lg-mt-60 md-mt-40">
                <div class="fact-feature mt-30 d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center rounded-circle"
                        style="border-color: #00DBE4; color: #00DBE4;"><i class="bi bi-check-lg"></i></div>
                    <h3>60x Faster Project set up time</h3>
                </div>
                <!-- /.fact-feature -->
                <div class="fact-feature mt-30 d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center rounded-circle"
                        style="border-color: #FFD542; color: #FFD542;"><i class="bi bi-check-lg"></i></div>
                    <h3>Witness a 70% boost in productivity.</h3>
                </div>
                <!-- /.fact-feature -->
                <div class="fact-feature mt-30 d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center rounded-circle"
                        style="border-color: #EF62E9; color: #EF62E9;"><i class="bi bi-check-lg"></i></div>
                    <h3>Save 4,000+ hours each year.</h3>
                </div>
                <!-- /.fact-feature -->
            </div>
        </div>
    </div>
</div>
<!-- /.hero-banner-five -->

<div class="client-logo-wrapper border-bottom mt-80 lg-mt-40 pb-70 lg-pb-40">
    <div class="container">
        <p class="fs-24 text-white fw-500 text-center mb-40">Over 2+ million teams rely on Piku to collaborate & get work
            done</p>
        <div class="partner-logo-one">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="item"><img src="assets/images/logo/p_logo_03.png" alt="" class="m-auto"></div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item"><img src="assets/images/logo/p_logo_06.png" alt="" class="m-auto"></div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item"><img src="assets/images/logo/p_logo_05.png" alt="" class="m-auto"></div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item"><img src="assets/images/logo/p_logo_04.png" alt="" class="m-auto"></div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item"><img src="assets/images/logo/p_logo_03.png" alt="" class="m-auto"></div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item"><img src="assets/images/logo/p_logo_02.png" alt="" class="m-auto"></div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item"><img src="assets/images/logo/p_logo_01.png" alt="" class="m-auto"></div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>





<!--
		=====================================================
			BLock Feature Sixteen
		=====================================================
		-->
<div class="block-feature-sixteen pt-130 lg-pt-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-11 m-auto">
                <div class="title-four text-center mb-80 lg-mb-40 pe-xl-3 ps-xl-3">
                    <h2 class="fw-bold">Streamline tasks, boost productivity with effective project management app.</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card-style-seven position-relative text-center mt-30 pb-45 lg-pb-30">
                    <img src="assets/images/icon/icon_28.svg" alt="" class="icon m-auto">
                    <h4>Collaboration with <br>Team easily</h4>
                </div>
                <!-- /.card-style-seven -->
            </div>
            <div class="col-lg-4">
                <div class="card-style-seven position-relative text-center mt-30 pb-45 lg-pb-30">
                    <img src="assets/images/icon/icon_29.svg" alt="" class="icon m-auto">
                    <h4>Organize your project <br> effortlessly</h4>
                </div>
                <!-- /.card-style-seven -->
            </div>
            <div class="col-lg-4">
                <div class="card-style-seven position-relative text-center mt-30 pb-45 lg-pb-30">
                    <img src="assets/images/icon/icon_30.svg" alt="" class="icon m-auto">
                    <h4>Track Project workflow <br> & Progress</h4>
                </div>
                <!-- /.card-style-seven -->
            </div>
        </div>



        <div class="pt-120 lg-pt-50">
            <div class="row">
                <div class="col-lg-8 d-flex">
                    <div class="feature-block block-one w-100 mt-30" style="background: #FFEB80;">
                        <h3 class="color-dark">Track Project</h3>
                        <div class="row">
                            <div class="col-md-9">
                                <p class="fs-24 text-white">Efficiently monitor project progress, ensuring timelines,
                                    resource allocation, </p>
                            </div>
                        </div>
                        <img src="assets/images/assets/card_10.png" alt="" class="w-100 mt-70 md-mt-40">
                        <img src="assets/images/shape/shape_43.svg" alt="" class="shapes shape_01">
                    </div>
                    <!-- /.feature-block -->
                </div>
                <div class="col-lg-4 d-flex">
                    <div class="feature-block block-one w-100 mt-30" style="background: #76FFCE;">
                        <h3>Plan Project</h3>
                        <div class="row">
                            <div class="col-12">
                                <p class="fs-24 text-white">Efficiently monitor project progress, resource allocation</p>
                            </div>
                        </div>
                        <img src="assets/images/assets/card_11.png" alt="" class="w-100 mt-40">
                        <img src="assets/images/shape/shape_44.svg" alt="" class="shapes shape_02">
                    </div>
                    <!-- /.feature-block -->
                </div>
                <div class="col-12 d-flex">
                    <div class="feature-block block-one w-100 mt-50 lg-mt-30 pe-0" style="background: #D3A7FF;">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3>Team Collaboration & Communication</h3>
                                <div class="row">
                                    <div class="col-xxl-10">
                                        <p class="fs-24 text-white">Efficiently monitor project progress, ensuring that
                                            timelines, resource allocation, </p>
                                    </div>
                                </div>
                                <ul class="style-none list-item mt-50">
                                    <li>Make Real-time Communication</li>
                                    <li>Document Sharing and Centralized Storage</li>
                                    <li>Task Assignment and Tracking</li>
                                    <li>And many more...</li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/images/assets/card_12.png" alt=""
                                    class="ms-auto mt-20 md-mt-40 mb-60 md-mb-10">
                            </div>
                        </div>
                        <img src="assets/images/shape/shape_45.svg" alt="" class="shapes shape_03">
                    </div>
                    <!-- /.feature-block -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.block-feature-sixteen -->



<!--
		=====================================================
			App Integration
		=====================================================
		-->
<div class="app-integration-one mt-170 xl-mt-150 lg-mt-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-11 m-auto">
                <div class="title-four text-center mb-95 lg-mb-40">
                    <div class="text-uppercase mb-10">INTEGRATION</div>
                    <h2 class="fw-bold">Piku integrates tools, services, simplifying workflow.</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="logo-wrapper">
        <div class="partner-logo-two">
            <owl-carousel-o [options]="customOptionsOne">
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="logo-box d-flex align-items-center justify-content-center"
                            style="background: #FE65E5;"><img src="assets/images/logo/p_logo_43.png" alt=""></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="logo-box d-flex align-items-center justify-content-center"
                            style="background: #24CAFF;"><img src="assets/images/logo/p_logo_42.png" alt=""></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="logo-box d-flex align-items-center justify-content-center"
                            style="background: #FF7F54;"><img src="assets/images/logo/p_logo_46.png" alt=""></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="logo-box d-flex align-items-center justify-content-center"
                            style="background: #F5DC00;"><img src="assets/images/logo/p_logo_45.png" alt=""></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="logo-box d-flex align-items-center justify-content-center"
                            style="background: #4EE265;"><img src="assets/images/logo/p_logo_44.png" alt=""></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="logo-box d-flex align-items-center justify-content-center"
                            style="background: #FE65E5;"><img src="assets/images/logo/p_logo_43.png" alt=""></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="logo-box d-flex align-items-center justify-content-center"
                            style="background: #31D9EC;"><img src="assets/images/logo/p_logo_42.png" alt=""></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="logo-box d-flex align-items-center justify-content-center"
                            style="background: #9F54FF;"><img src="assets/images/logo/p_logo_41.png" alt=""></div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="logo-box d-flex align-items-center justify-content-center"
                            style="background: #91C400;"><img src="assets/images/logo/p_logo_40.png" alt=""></div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <!-- /.partner-logo-two -->
    </div>

    <div class="text-center mt-75 lg-mt-40">
        <p class="fs-28 font-manrope text-white mb-25">Connect more than 6000+ tools</p>
        <a href="javascript:void(0)" class="btn-fifteen">Explore All</a>
    </div>
</div>
<!-- /.app-integration-one -->




<!--
		=====================================================
			Feedback Section Five
		=====================================================
		-->
<div class="feedback-section-five position-relative z-1 mt-150 lg-mt-80">
    <div class="wrapper position-relative z-1 pt-150 lg-pt-80 pb-150 lg-pb-80">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="title-eight pe-xxl-3">
                        <h2 class="text-white">Join our <span>30,000+ </span> lovely Community.</h2>
                    </div>
                    <!-- /.title-eight -->
                    <p class="text-white fs-28 font-manrope pe-xxl-4 mt-30 mb-55 md-mb-40">More than 20k client using
                        our product with love. Hear from them what they say.</p>
                    <a href="javascript:void(0)" class="btn-thirteen">Join Now!</a>
                </div>
                <div class="col-lg-6">
                    <div class="feedback-wrapper md-mt-50">
                        <div class="feedback-block" style="background: #FFDA7C;">
                            <img src="assets/images/logo/p_logo_49.png" alt="" class="logo">
                            <blockquote>“Quick solutions coupled with great performance—a recommendation that's
                                unequivocal”</blockquote>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="rating">4.8 Excellent</div>
                                <ul class="style-none d-flex">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.feedback-block -->
                        <div class="feedback-block" style="background: #FF90ED;">
                            <img src="assets/images/logo/p_logo_48.png" alt="" class="logo">
                            <blockquote>“Quick solutions coupled with great performance—a recommendation that's
                                unequivocal”</blockquote>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="rating">4.8 Excellent</div>
                                <ul class="style-none d-flex">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.feedback-block -->
                        <div class="feedback-block" style="background: #85F8F1;">
                            <img src="assets/images/logo/p_logo_47.png" alt="" class="logo">
                            <blockquote>“Quick solutions coupled with great performance—a recommendation that's
                                unequivocal”</blockquote>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="rating">4.8 Excellent</div>
                                <ul class="style-none d-flex">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.feedback-block -->
                    </div>
                    <!-- /.feedback-wrapper -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.wrapper -->
    <img src="assets/images/shape/shape_46.svg" alt="" class="shapes shape_01">
    <img src="assets/images/shape/shape_47.svg" alt="" class="shapes shape_02">
</div>
<!-- /.feedback-section-five -->





<!--
		=====================================================
			Pricing Section Four
		=====================================================
		-->
<div class="pricing-section-four position-relative z-1 mt-150 lg-mt-80">
    <div class="container">
        <div class="row">
            <div class="col-xxl-9 col-xl-8 col-lg-7 m-auto">
                <div class="title-four text-center">
                    <div class="text-uppercase mb-10">Pricing</div>
                    <h2 class="fw-bold">All-inclusive great options pick your Plan</h2>
                </div>
            </div>
        </div>
        <div class="mt-60 lg-mt-40">
            <nav class="pricing-nav-three d-flex justify-content-center mb-35">
                <div class="nav nav-tabs justify-content-between">
                    <a class="nav-link" [ngClass]="{ 'active': activeTab === 'monthly' }" (click)="changeTab('monthly')"></a>
                    <a class="nav-link" [ngClass]="{ 'active': activeTab === 'yearly' }" (click)="changeTab('yearly')"></a>
                </div>
            </nav>
        </div>

        <div class="tab-content mt-30 lg-mt-10">
            <div class="tab-pane fade" [ngClass]="{ 'show active': activeTab === 'monthly' }" id="monthly"
                role="tabpanel" aria-labelledby="monthly-tab">
                <div class="row gx-xxl-5">
                    <div class="col-lg-4 d-flex" *ngFor="let plan of pricingPlans.monthly">
                        <div class="pr-column w-100 mt-30" [style.border-color]="plan.borderColor">
                            <div class="pr-header mb-30">
                                <div class="d-flex align-items-center">
                                    <div class="price">{{ plan.price }}</div>
                                    <div class="info1">Save ~20% when billed yearly</div>
                                </div>
                                <div class="plane-name">{{ plan.planName }}</div>
                                <p class="info2">{{ plan.description }}</p>
                            </div>
                            <a href="javascript:void(0)" class="btn-eleven w-100 d-flex justify-content-between align-items-center">
                                Start Free Trial
                                <span class="icon d-flex align-items-center justify-content-center">
                                    <img src="assets/images/icon/icon_32.svg" alt="" />
                                </span>
                            </a>
                            <ul class="style-none package-feature mt-60 lg-mt-50">
                                <li *ngFor="let feature of plan.features">{{ feature }}</li>
                            </ul>
                            <img [src]="plan.shape" alt="" class="shapes shape" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" [ngClass]="{ 'show active': activeTab === 'yearly' }" id="yearly" role="tabpanel"
                aria-labelledby="yearly-tab">
                <div class="row gx-xxl-5">
                    <div class="col-lg-4 d-flex" *ngFor="let plan of pricingPlans.yearly">
                        <div class="pr-column w-100 mt-30" [style.border-color]="plan.borderColor">
                            <div class="pr-header mb-30">
                                <div class="d-flex align-items-center">
                                    <div class="price">{{ plan.price }}</div>
                                    <div class="info1">Save ~20% when billed yearly</div>
                                </div>
                                <div class="plane-name">{{ plan.planName }}</div>
                                <p class="info2">{{ plan.description }}</p>
                            </div>
                            <a href="javascript:void(0)" class="btn-eleven w-100 d-flex justify-content-between align-items-center">
                                Start Free Trial
                                <span class="icon d-flex align-items-center justify-content-center">
                                    <img src="assets/images/icon/icon_32.svg" alt="" />
                                </span>
                            </a>
                            <ul class="style-none package-feature mt-60 lg-mt-50">
                                <li *ngFor="let feature of plan.features">{{ feature }}</li>
                            </ul>
                            <img [src]="plan.shape" alt="" class="shapes shape" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.tab-content -->
    </div>

</div>
<!-- /.pricing-section-four -->




<!--
		=====================================================
			FAQ Section Three
		=====================================================
		-->
<div class="faq-section-three position-relative mt-150 lg-mt-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="title-four">
                    <div class="text-uppercase mb-10">FAQ</div>
                    <h2 class="fw-bold">Questions & Answers</h2>
                </div>
                <p class="fs-22 text-white pe-xxl-5 mt-40 md-mt-10 mb-40">Find your answers here. if you don’t find it
                    here, please contact us.</p>
                <a routerLink="/ai-writer/contact-v2" class="btn-eleven style-two">Contact us</a>
            </div>
            <div class="col-lg-7">
                <div class="accordion accordion-style-two p0 bg-transparent shadow-none ms-xl-4 md-mt-40" id="accordionFour"
                    ngbAccordion [closeOthers]="true">
                    <div class="accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOneA" aria-expanded="false" aria-controls="collapseOneA"
                                ngbAccordionButton>
                                What is web hosting?
                            </button>
                        </h2>
                        <div id="collapseOneA" class="accordion-collapse collapse" data-bs-parent="#accordionFour"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <p class="fs-22">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore
                                    eligendi dolores animi quas blanditiis iusto mollitia quasi, ipsa numquam quaerat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwoA" aria-expanded="false" aria-controls="collapseTwoA"
                                ngbAccordionButton>
                                How do you weigh different criteria in your process?
                            </button>
                        </h2>
                        <div id="collapseTwoA" class="accordion-collapse collapse" data-bs-parent="#accordionFour"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <p class="fs-22">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore
                                    eligendi dolores animi quas blanditiis iusto mollitia quasi, ipsa numquam quaerat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThreeA" aria-expanded="true" aria-controls="collapseThreeA"
                                ngbAccordionButton>
                                What can I use to build my website?
                            </button>
                        </h2>
                        <div id="collapseThreeA" class="accordion-collapse collapse" data-bs-parent="#accordionFour"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <p class="fs-22">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore
                                    eligendi dolores animi quas blanditiis iusto mollitia quasi, ipsa numquam quaerat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFourA" aria-expanded="true" aria-controls="collapseFourA"
                                ngbAccordionButton>
                                If I already have a website, can I transfer it to your web hosting?
                            </button>
                        </h2>
                        <div id="collapseFourA" class="accordion-collapse collapse" data-bs-parent="#accordionFour"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <p class="fs-22">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore
                                    eligendi dolores animi quas blanditiis iusto mollitia quasi, ipsa numquam quaerat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFiveA" aria-expanded="true" aria-controls="collapseFiveA"
                                ngbAccordionButton>
                                How can I accept credit cards online?
                            </button>
                        </h2>
                        <div id="collapseFiveA" class="accordion-collapse collapse" data-bs-parent="#accordionFour"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <p class="fs-22">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore
                                    eligendi dolores animi quas blanditiis iusto mollitia quasi, ipsa numquam quaerat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /.faq-section-three -->




<!--
		=====================================================
			Fancy Banner Five
		=====================================================
		-->
<div class="fancy-banner-five position-relative z-1 mt-150 lg-mt-80">
    <div class="wrapper position-relative z-1 pt-110 lg-pt-80 pb-120 lg-pb-80">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-9 m-auto text-center">
                    <div class="title-eight">
                        <h2 class="text-white"><span>300k+ </span> clients have our piku.Try it now!</h2>
                    </div>
                    <!-- /.title-eight -->
                    <p class="text-white fs-28 font-manrope pe-xxl-4 mt-30 mb-55">Try it risk free — we don’t charge
                        cancellation fees.</p>
                    <a href="javascript:void(0)" class="btn-thirteen">Let’s Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.fancy-banner-five -->