<div class="blog-section-one mt-200 xl-mt-150 mb-120 lg-mb-80">
    <div class="container">
        <div class="title-three text-center mb-80 lg-mb-40">
            <h2>Our Stories</h2>
        </div>

        <div class="row">
            <div class="col-xxl-10 m-auto">
                <article class="blog-meta-one mb-70 lg-mb-50">
                    <div class="media">
                        <img src="assets/images/blog/blog_img_01.jpg" alt="" class="w-100">
                    </div>
                    <div class="post-meta position-relative z-1">
                        <ul class="style-none tags d-flex flex-wrap">
                            <li><a href="javascript:void(0)">UI/UX design</a></li>
                            <li><a href="javascript:void(0)">Design</a></li>
                        </ul>
                        <a routerLink="/digital-agency/blog-details" class="blog-title d-block">
                            <h4>How to become a web designer in 2021</h4>
                        </a>
                        <p>Successful companies through collaborative efforts and strategic....</p>
                        <a routerLink="/digital-agency/blog-details" class="read-more rounded-circle tran3s"><i
                                class="bi bi-arrow-up-right"></i></a>
                    </div>
                    <!-- /.post-meta -->
                </article>
                <!-- /.blog-meta-one -->

                <article class="blog-meta-one mb-70 lg-mb-50">
                    <div class="media">
                        <img src="assets/images/blog/blog_img_02.jpg" alt="" class="w-100">
                    </div>
                    <div class="post-meta position-relative z-1">
                        <ul class="style-none tags d-flex flex-wrap">
                            <li><a href="javascript:void(0)">AI</a></li>
                            <li><a href="javascript:void(0)">Application</a></li>
                        </ul>
                        <a routerLink="/digital-agency/blog-details" class="blog-title d-block">
                            <h4>Make Productive Day with AI app</h4>
                        </a>
                        <p>Successful companies through collaborative efforts and strategic....</p>
                        <a routerLink="/digital-agency/blog-details" class="read-more rounded-circle tran3s"><i
                                class="bi bi-arrow-up-right"></i></a>
                    </div>
                    <!-- /.post-meta -->
                </article>
                <!-- /.blog-meta-one -->

                <article class="blog-meta-one mb-70 lg-mb-50">
                    <div class="media">
                        <img src="assets/images/blog/blog_img_03.jpg" alt="" class="w-100">
                    </div>
                    <div class="post-meta position-relative z-1">
                        <ul class="style-none tags d-flex flex-wrap">
                            <li><a href="javascript:void(0)">Designer</a></li>
                            <li><a href="javascript:void(0)">UI/UX</a></li>
                        </ul>
                        <a routerLink="/digital-agency/blog-details" class="blog-title d-block">
                            <h4>Designer’s Checklist for Every UX Project</h4>
                        </a>
                        <p>lass aptent taciti sociosqu ad litora torquent per coWinners never quit...</p>
                        <a routerLink="/digital-agency/blog-details" class="read-more rounded-circle tran3s"><i
                                class="bi bi-arrow-up-right"></i></a>
                    </div>
                    <!-- /.post-meta -->
                </article>
                <!-- /.blog-meta-one -->

                <article class="blog-meta-one mb-70 lg-mb-50">
                    <div class="media">
                        <img src="assets/images/blog/blog_img_04.jpg" alt="" class="w-100">
                    </div>
                    <div class="post-meta position-relative z-1">
                        <ul class="style-none tags d-flex flex-wrap">
                            <li><a href="javascript:void(0)">Wordcamp</a></li>
                            <li><a href="javascript:void(0)">Event</a></li>
                        </ul>
                        <a routerLink="/digital-agency/blog-details" class="blog-title d-block">
                            <h4>Speaking remotely at WordCamp US</h4>
                        </a>
                        <p>lass aptent taciti sociosqu ad litora torquent winners never quit...</p>
                        <a routerLink="/digital-agency/blog-details" class="read-more rounded-circle tran3s"><i
                                class="bi bi-arrow-up-right"></i></a>
                    </div>
                    <!-- /.post-meta -->
                </article>
                <!-- /.blog-meta-one -->

                <article class="blog-meta-one mb-70 lg-mb-50">
                    <div class="media">
                        <img src="assets/images/blog/blog_img_05.jpg" alt="" class="w-100">
                    </div>
                    <div class="post-meta position-relative z-1">
                        <ul class="style-none tags d-flex flex-wrap">
                            <li><a href="javascript:void(0)">Tips</a></li>
                            <li><a href="javascript:void(0)">Lifestyle</a></li>
                        </ul>
                        <a routerLink="/digital-agency/blog-details" class="blog-title d-block">
                            <h4>Spending Habits, 13 Tips for Success.</h4>
                        </a>
                        <p>Take all negative words out of your mental dictionary on the solut...</p>
                        <a routerLink="/digital-agency/blog-details" class="read-more rounded-circle tran3s"><i
                                class="bi bi-arrow-up-right"></i></a>
                    </div>
                    <!-- /.post-meta -->
                </article>
                <!-- /.blog-meta-one -->
            </div>
        </div>

        <ul class="pagination-one d-flex justify-content-center align-items-center style-none pt-10">
            <li class="active"><a href="javascript:void(0)">1</a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li class="ms-2"><a href="javascript:void(0)" class="d-flex align-items-center">Next <img src="assets/images/icon/icon_15.svg"
                        alt="" class="ms-2"></a></li>
        </ul>
    </div>
</div>