<!-- 
		=============================================
			Inner Banner
		============================================== 
		-->
<div class="inner-banner-three z-1 position-relative">
    <div class="wrapper text-center position-relative z-1 pt-200 xl-pt-150 pb-120 xl-pb-100 lg-pb-80">
        <div class="container">
            <h2>Our <span>project</span></h2>
            <ul class="style-none d-flex align-items-center justify-content-center">
                <li><a routerLink="/project-management">Home</a></li>
                <li>/</li>
                <li>Projects</li>
            </ul>
        </div>
    </div>
</div>
<!-- /.inner-banner-three -->




<!--
                =====================================================
                    Project Section Five
                =====================================================
                -->
<div class="project-section-five mt-80 lg-mt-40">
    <div class="container">
        <div id="isotop-gallery-wrapper" class="grid-2column xl" style="position: relative;">
            <div class="grid-sizer"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="application brand mt-80 lg-mt-40">
                        <div class="project-block-three px-4 p-md-0 position-relative z-1">
                            <img src="assets/images/media/img_61.jpg" alt="" class="w-100 media-img tran3s">
                            <div class="position-relative d-flex justify-content-between align-items-start pt-35">
                                <div class="pe-3">
                                    <ul class="style-none d-flex">
                                        <li>PRINT</li>
                                        <li>DESIGN</li>
                                    </ul>
                                    <h6>Poster — Product Branding</h6>
                                </div>
                                <img src="assets/images/icon/icon_93.svg" alt="" class="mt-2 ms-auto">
                                <a routerLink="/digital-agency/project-details" class="stretched-link"></a>
                            </div>
                        </div>
                        <!-- /.project-block-three -->
                    </div>
                    <!-- /.isotop-item -->
                </div>
                <div class="col-md-6">
                    <div class="design mt-80 lg-mt-40">
                        <div class="project-block-three px-4 p-md-0 position-relative z-1">
                            <img src="assets/images/media/img_62.jpg" alt="" class="w-100 media-img tran3s">
                            <div class="position-relative d-flex justify-content-between align-items-start pt-35">
                                <div class="pe-3">
                                    <ul class="style-none d-flex">
                                        <li>Mobile</li>
                                        <li>UI/UX</li>
                                    </ul>
                                    <h6>UI — Banner Exploration</h6>
                                </div>
                                <img src="assets/images/icon/icon_93.svg" alt="" class="mt-2 ms-auto">
                                <a routerLink="/digital-agency/project-details" class="stretched-link"></a>
                            </div>
                        </div>
                        <!-- /.project-block-three -->
                    </div>
                    <!-- /.isotop-item -->
                </div>
                <div class="col-md-6">
                    <div class="market dev mt-80 lg-mt-40">
                        <div class="project-block-three px-4 p-md-0 position-relative z-1">
                            <img src="assets/images/media/img_63.jpg" alt="" class="w-100 media-img tran3s">
                            <div class="position-relative d-flex justify-content-between align-items-start pt-35">
                                <div class="pe-3">
                                    <ul class="style-none d-flex">
                                        <li>Branding</li>
                                        <li>UI/UX</li>
                                    </ul>
                                    <h6>Mockup — Calendar Design</h6>
                                </div>
                                <img src="assets/images/icon/icon_93.svg" alt="" class="mt-2 ms-auto">
                                <a routerLink="/digital-agency/project-details" class="stretched-link"></a>
                            </div>
                        </div>
                        <!-- /.project-block-three -->
                    </div>
                    <!-- /.isotop-item -->
                </div>
                <div class="col-md-6">
                    <div class="market brand mt-80 lg-mt-40">
                        <div class="project-block-three px-4 p-md-0 position-relative z-1">
                            <img src="assets/images/media/img_64.jpg" alt="" class="w-100 media-img tran3s">
                            <div class="position-relative d-flex justify-content-between align-items-start pt-35">
                                <div class="pe-3">
                                    <ul class="style-none d-flex">
                                        <li>BANNER</li>
                                        <li>WEB DESIGN</li>
                                    </ul>
                                    <h6>Poster — Product Branding</h6>
                                </div>
                                <img src="assets/images/icon/icon_93.svg" alt="" class="mt-2 ms-auto">
                                <a routerLink="/digital-agency/project-details" class="stretched-link"></a>
                            </div>
                        </div>
                        <!-- /.project-block-three -->
                    </div>
                    <!-- /.isotop-item -->
                </div>
                <div class="col-md-6">
                    <div class="design mt-80 lg-mt-40">
                        <div class="project-block-three px-4 p-md-0 position-relative z-1">
                            <img src="assets/images/media/img_66.jpg" alt="" class="w-100 media-img tran3s">
                            <div class="position-relative d-flex justify-content-between align-items-start pt-35">
                                <div class="pe-3">
                                    <ul class="style-none d-flex">
                                        <li>Mobile</li>
                                        <li>UI/UX</li>
                                    </ul>
                                    <h6>App — The power of communication</h6>
                                </div>
                                <img src="assets/images/icon/icon_93.svg" alt="" class="mt-2 ms-auto">
                                <a routerLink="/digital-agency/project-details" class="stretched-link"></a>
                            </div>
                        </div>
                        <!-- /.project-block-three -->
                    </div>
                    <!-- /.isotop-item -->
                </div>
                <div class="col-md-6">
                    <div class="application dev mt-80 lg-mt-40">
                        <div class="project-block-three px-4 p-md-0 position-relative z-1">
                            <img src="assets/images/media/img_65.jpg" alt="" class="w-100 media-img tran3s">
                            <div class="position-relative d-flex justify-content-between align-items-start pt-35">
                                <div class="pe-3">
                                    <ul class="style-none d-flex">
                                        <li>PRINT</li>
                                        <li>DESIGN</li>
                                    </ul>
                                    <h6>Mockup — Calendar Design</h6>
                                </div>
                                <img src="assets/images/icon/icon_93.svg" alt="" class="mt-2 ms-auto">
                                <a routerLink="/digital-agency/project-details" class="stretched-link"></a>
                            </div>
                        </div>
                        <!-- /.project-block-three -->
                    </div>
                    <!-- /.isotop-item -->
                </div>
            </div>

        </div>
        <!-- /#isotop-gallery-wrapper -->
    </div>
</div>
<!-- /.project-section-five -->



<!--
                =====================================================
                    Fancy Banner Five
                =====================================================
                -->
<div class="fancy-banner-five position-relative z-1 mt-150 lg-mt-80">
    <div class="wrapper position-relative z-1 pt-110 lg-pt-80 pb-120 lg-pb-80">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-9 m-auto text-center">
                    <div class="title-eight">
                        <h2 class="text-white"><span>300k+ </span> clients have our piku.Try it now!</h2>
                    </div>
                    <!-- /.title-eight -->
                    <p class="text-white fs-28 font-manrope pe-xxl-4 mt-30 mb-55">Try it risk free — we don’t charge
                        cancellation fees.</p>
                    <a href="javascript:void(0)" class="btn-thirteen">Let’s Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.fancy-banner-five -->