@switch (footerType) {
    @case (allFooterType.PaymentService) {
        <app-payment-service-footer></app-payment-service-footer>
    }
    @case (allFooterType.AiWriter) {
        <app-ai-writer-footer></app-ai-writer-footer>
    }
    @case (allFooterType.WebsiteBuilder) {
        <app-website-builder-footer></app-website-builder-footer>
    }
    @case (allFooterType.CRM) {
        <app-crm-footer></app-crm-footer>
    }
    @case (allFooterType.ProjectManagement) {
        <app-project-management-footer></app-project-management-footer>
    }
    @case (allFooterType.MobileAppLanding) {
        <app-mobile-landing-footer></app-mobile-landing-footer>
    }
    @case (allFooterType.DigitalAgency) {
        <app-digital-agency-footer></app-digital-agency-footer>
    }
    @case (allFooterType.HelpDesk) {
        <app-help-desk-footer></app-help-desk-footer>
    }
    @case (allFooterType.WebHosting) {
        <app-web-hosting-footer></app-web-hosting-footer>
    }
    @case (allFooterType.CyberSecurity) {
        <app-cyber-security-footer></app-cyber-security-footer>
    }
}

<app-back-to-top></app-back-to-top>