<div class="footer-one border-30 bg-one">
    <div class="position-relative z-1">
        <div class="container">
            <div class="email-banner position-relative z-1 bg-three border-30">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <h3 class="color-dark" >Subscribe Now!</h3>
                    </div> 
                    <div class="col-lg-6">
                        <app-news-latter></app-news-latter>
                    </div>
                </div>
            </div>
            <!-- /.email-banner -->
            <div class="position-relative">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-intro mb-30">
                            <div class="logo">
                                <a routerLink="/">
                                    <img src="assets/images/logo/logo_01.1.svg" alt="">
                                </a>
                            </div>
                            <!-- logo -->
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <div class="footer-nav mb-20">
                            <app-first-footer-nav></app-first-footer-nav>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <div class="footer-nav mb-20">
                            <app-sec-footer-nav></app-sec-footer-nav>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="footer-nav mb-20">
                            <app-three-footer-nav></app-three-footer-nav>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="footer-contact mb-20">
                            <p class="fw-500 fs-20 text-white mb-30 md-mb-20">210 Wallent Street, California, Main OC,
                                USA</p>
                            <a href="javascript:void(0)" class="tel fw-500 fs-24 tran3s mb-40">(+91) 0187 34 377</a>
                            <ul class="style-none d-flex align-items-center social-icon">
                                <li><a href="javascript:void(0)"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p class="copyright-text m0"><strong class="text-white">&#64;{{year}}.</strong> All Right Reserved.</p>
            </div>
        </div>
    </div>
</div>