<div class="fancy-banner-eight position-relative z-1 mt-200 xl-mt-150 lg-mt-100 mb-120 lg-mb-80">
    <div class="container xl">
        <div class="row">
            <div class="col-xl-10 col-lg-10 m-auto text-center">
                <h2 class="hero-heading font-Montserrat d-flex align-items-center justify-content-center flex-wrap">
                    <span>ANY &nbsp;</span>
                    <span class="position-relative">
                        PROJECT
                        <img src="assets/images/icon/smile.svg" alt="" class="shapes smile_icon">
                        <img src="assets/images/shape/shape_78.png" alt="" class="shapes shape_01">
                    </span>
                    <img src="assets/images/shape/shape_61.svg" alt="" class="shape shape_02 me-lg-4">
                    <span>IN MIND?</span>
                    <img src="assets/images/shape/shape_77.svg" alt="" class="shape shape_03 ms-lg-4">
                </h2>
                <a routerLink="/ai-writer/contact-v2" class="btn-seventeen mt-50 lg-mt-30">Let’s Talk</a>
            </div>
        </div>
    </div>
</div>