<header class="theme-main-menu menu-style-four sticky-menu menu-overlay fixed" id="page-topbar" >
    <div class="inner-content gap-one modify-header ">
        <div class="top-header position-relative">
            <div class="d-flex align-items-center justify-content-between">
                <div class="logo order-lg-0">
                    <a routerLink="/" class="d-flex align-items-center">
                        <img src="assets/images/logo/logo_black_transparent.svg" alt="">
                    </a>
                </div>
                <!-- logo -->
                <div class="right-widget ms-auto ms-lg-0 order-lg-3">
                    <ul class="d-flex align-items-center style-none">
                        <li class="ms-4"><button class="sidenavbtn rounded-circle tran3s" type="button"
                                (click)="openEnd(content)"><i class="fa-sharp fa-light fa-bars-filter"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>


<ng-template #content let-offcanvas>
    <div class="offcanvas-header p-0">
        <div class="logo order-lg-0">
            <a routerLink="/" class="d-flex align-items-center">
                <img src="assets/images/logo/logo.svg" alt="">
            </a>
        </div>
        <button type="button" class="btn-close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div *ngIf="digitalMenusItems.length">
        <div class="wrapper mt-10 h-100">
            <div class="d-flex flex-column h-100">
                <div class="sidebar-nav-item">
                    <ul class="style-none">
                        <!-- Menú dinámico existente -->
                        <li class="nav-item" *ngFor="let menu of digitalMenusItems" (click)="toggleCollapse(menu)">
                            <ng-container *ngIf="menu.scrollId; else normalLink">
                                <a href="javascript:void(0)" (click)="scrollService.scrollToElement(menu.scrollId); offcanvas.dismiss()">{{ menu.label }}</a>
                            </ng-container>
                            <ng-template #normalLink>
                                <ng-container *ngIf="menu.subMenus?.length; else singleLink">
                                    <a class="dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="true">{{ menu.label }}</a>
    
                                    <ul class="dropdown-menu" [ngbCollapse]="menu.isCollapsed">
                                        <li *ngFor="let subMenu of menu.subMenus">
                                            <a [routerLink]="subMenu.link" class="dropdown-item"><span>{{ subMenu.label }}</span></a>
                                        </li>
                                    </ul>
                                </ng-container>
                                <ng-template #singleLink>
                                    <li class="nav-item"><a [routerLink]="menu.link">{{ menu.label }}</a></li>
                                </ng-template>
                            </ng-template>
                        </li>
                    </ul>
                </div>
                <div>
                    <a routerLink="/auth" class="btn-eleven style-two w-100 tran3s">Contactar</a>
                </div>
                <!-- Se eliminó la sección de dirección y teléfono para un menú más limpio -->
                <div class="slogan-block mt-50 text-center">
                    <h4 class="title mb-0">Del Concepto al Clic</h4>
                </div>
                <ul class="style-none d-flex flex-wrap w-100 justify-content-center align-items-center social-icon pt-25 mt-auto" style="gap: 32px;">
                    <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/bykodeo/"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</ng-template>