<div class="block-feature-eight pt-250 xl-pt-200 md-pt-150 sm-pt-100 pb-180 xl-pb-150 lg-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="title-four md-mb-20">
                    <h2 class="text-white">Trusted choice for 1000+ Firms</h2>
                </div>
            </div>
            <div class="col-xxl-5 col-lg-6 ms-auto">
                <p class="font-manrope fs-24 pb-25 text-white">Go paperless. Back up important to all devices, & keep
                    the information not the clutter.</p>
                <a routerLink="/cyber-security/about-us-v3" class="btn-eight d-inline-flex align-items-center">More Details <img
                        src="assets/images/icon/icon_19.svg" alt="" class="ms-3"></a>
            </div>
        </div>
        <div class="wrapper mt-100 lg-mt-40">
            <div class="counter-slider-one">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="item">
                            <div class="card-style-four position-relative"
                                style="background-image: url(assets/images/assets/bg_02.png);">
                                <div class="d-flex justify-content-between align-items-center">
                                    <img class="w-auto" src="assets/images/logo/p_logo_09.png" alt="">
                                    <img class="w-auto" src="assets/images/shape/shape_31.svg" alt="">
                                </div>
                                <div class="main-count">$<span class="counter">1.3</span>b+</div>
                                <p class="font-manrope fs-24 text-white">Membership Sale</p>
                            </div>
                            <!-- /.card-style-four -->
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <div class="card-style-four position-relative"
                                style="background-image: url(assets/images/assets/bg_03.png);">
                                <div class="d-flex justify-content-between align-items-center">
                                    <img class="w-auto" src="assets/images/logo/p_logo_10.png" alt="">
                                    <img class="w-auto" src="assets/images/shape/shape_32.svg" alt="">
                                </div>
                                <div class="main-count"><span class="counter">4.0</span>X</div>
                                <p class="font-manrope fs-24 text-white">Smooth Integration</p>
                            </div>
                            <!-- /.card-style-four -->
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <div class="card-style-four position-relative"
                                style="background-image: url(assets/images/assets/bg_04.png);">
                                <div class="d-flex justify-content-between align-items-center">
                                    <img class="w-auto" src="assets/images/logo/p_logo_11.png" alt="">
                                    <img class="w-auto" src="assets/images/shape/shape_33.svg" alt="">
                                </div>
                                <div class="main-count"><span class="counter">1200</span>+</div>
                                <p class="font-manrope fs-24 text-white">Faster Server Speed</p>
                            </div>
                            <!-- /.card-style-four -->
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <div class="card-style-four position-relative"
                                style="background-image: url(assets/images/assets/bg_05.png);">
                                <div class="d-flex justify-content-between align-items-center">
                                    <img class="w-auto" src="assets/images/logo/p_logo_10.png" alt="">
                                    <img class="w-auto" src="assets/images/shape/shape_33.svg" alt="">
                                </div>
                                <div class="main-count"><span class="counter">2.8</span>m</div>
                                <p class="font-manrope fs-24 text-white">Application Views</p>
                            </div>
                            <!-- /.card-style-four -->
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <div class="card-style-four position-relative"
                                style="background-image: url(assets/images/assets/bg_04.png);">
                                <div class="d-flex justify-content-between align-items-center">
                                    <img class="w-auto" src="assets/images/logo/p_logo_11.png" alt="">
                                    <img class="w-auto" src="assets/images/shape/shape_33.svg" alt="">
                                </div>
                                <div class="main-count"><span class="counter">1200</span>+</div>
                                <p class="font-manrope fs-24 text-white">Faster Server Speed</p>
                            </div>
                            <!-- /.card-style-four -->
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>