<div class="block-feature-nineteen mt-130 lg-mt-80" style="background-image: url(assets/images/assets/bg_01.png);">
    <div class="container xl">
        <div class="position-relative">
            <div class="title-three">
                <h2>Our Services</h2>
            </div>

            <div class="service-slider-one pt-50 lg-pt-30">
                <owl-carousel-o [options]="customOptionsOne">
                    <ng-template carouselSlide>
                        <div class="item">
                            <div class="card-style-nine" style="background: #FFE073;">
                                <div class="num fw-500">01.</div>
                                <div class="title text-uppercase">BUSINESS</div>
                                <a routerLink="/digital-agency/project-details" class="service-heading text-uppercase fw-500">salesforce
                                    Marketing, support</a>
                                <img src="assets/images/shape/shape_68.png" alt="" class="shapes illustration">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <div class="card-style-nine" style="background: #FF9AE3;">
                                <div class="num fw-500">02.</div>
                                <div class="title text-uppercase">MARKETING</div>
                                <a routerLink="/digital-agency/project-details" class="service-heading text-uppercase fw-500">Search
                                    Engine
                                    Optimization SEO</a>
                                <img src="assets/images/shape/shape_69.png" alt="" class="shapes illustration">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <div class="card-style-nine" style="background: #45F08D;">
                                <div class="num fw-500">03.</div>
                                <div class="title text-uppercase">WEB DESIGN</div>
                                <a routerLink="/digital-agency/project-details" class="service-heading text-uppercase fw-500">UI/UX <br>
                                    Interface Design</a>
                                <img src="assets/images/shape/shape_70.png" alt="" class="shapes illustration">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <div class="card-style-nine" style="background: #A394FF;">
                                <div class="num fw-500">04.</div>
                                <div class="title text-uppercase">UI/UX</div>
                                <a routerLink="/digital-agency/project-details" class="service-heading text-uppercase fw-500">Web & <br>
                                    Mobile
                                    App Development</a>
                                <img src="assets/images/shape/shape_71.png" alt="" class="shapes illustration">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <div class="card-style-nine" style="background: #94E5FF;">
                                <div class="num fw-500">05.</div>
                                <div class="title text-uppercase">MARKETING</div>
                                <a routerLink="/digital-agency/project-details" class="service-heading text-uppercase fw-500">Search
                                    Engine
                                    Optimization SEO</a>
                                <img src="assets/images/shape/shape_69.png" alt="" class="shapes illustration">
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>