<div class="footer-three dark-version">
    <div class="container lg">
        <div class="address-wrapper">
            <h2>Need Some Help?</h2>

            <div class="row gx-xxl-5">
                <div class="col-lg-4 d-flex">
                    <div class="block d-flex w-100 align-items-center mt-25">
                        <div class="icon d-flex align-items-center justify-content-center rounded-circle"><img src="assets/images/icon/icon_57.svg" alt=""></div>
                        <div class="text">
                            <div class="title">We’r always happy to help</div>
                            <span class="fs-20">ask&#64;homy.com</span>
                        </div>
                    </div>
                    <!-- /.block -->
                </div>
                <div class="col-lg-4 d-flex">
                    <div class="block d-flex w-100 align-items-center mt-25">
                        <div class="d-flex align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center rounded-circle"><img src="assets/images/icon/icon_58.svg" alt=""></div>
                            <div class="text">
                                <div class="title">Our Hotline Number</div>
                                <span class="fs-20">+757 699 4478,  +991 377 9731</span>
                            </div>
                        </div>
                    </div>
                    <!-- /.block -->
                </div>
                <div class="col-lg-4 d-flex">
                    <div class="block d-flex w-100 align-items-center mt-25">
                        <div class="icon d-flex align-items-center justify-content-center rounded-circle"><img src="assets/images/icon/icon_59.svg" alt=""></div>
                        <div class="text">
                            <div class="title">Live chat</div>
                            <span class="fs-20">www.lvesupport.com</span>
                        </div>
                    </div>
                    <!-- /.block -->
                </div>
            </div>
        </div>
        <!-- /.address-wrapper -->
        <div class="position-relative">
            <div class="row justify-content-between">
                <div class="col-lg-2 order-lg-0 md-mb-40">
                    <div class="logo mt-15">
                        <a routerLink="/">
                            <img src="assets/images/logo/logo_10.svg" alt="">
                        </a>
                    </div> 
                    <!-- logo -->
                    <div class="fs-6 text-white mt-40 mb-15">Connect with us</div>
                    <ul class="style-none d-flex align-items-center social-icon">
                        <li><a href="javascript:void(0)"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 order-lg-1">
                    <div class="footer-nav">
                        <app-first-footer-nav></app-first-footer-nav>
                    </div>
                </div>
                <div class="col-lg-2 col-6 order-lg-3">
                    <div class="footer-nav">
                        <app-three-footer-nav></app-three-footer-nav>
                    </div>
                </div>
                <div class="col-lg-2 col-6 order-lg-2">
                    <div class="footer-nav mb-20">
                        <app-sec-footer-nav></app-sec-footer-nav>
                    </div>
                </div>
                <div class="col-lg-2 col-6 order-lg-4">
                    <div class="footer-nav mb-20">
                        <app-four-footer-nav></app-four-footer-nav>
                    </div>
                </div>
            </div>
            <p class="copyright-text text-center m0"><span class="text-white fw-500">{{'@'+year}}.</span> All Right Reserved</p>
        </div>
    </div>
    <img src="assets/images/shape/shape_82.svg" alt="" class="shapes shape_01">
</div>