<div class="bg-wrapper">
    <div class="user-data-form dark-bg-two">
        <div class="form-wrapper">
            <div class="mb-50 sm-mb-30">
                <h2>Login</h2>
                <p>Don’t have any account? <a [routerLink]="signUp">Register</a></p>
            </div>
            <form action="#">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group-meta position-relative mb-30">
                            <label>Email*</label>
                            <input type="email" placeholder="Youremail@gmail.com">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group-meta position-relative mb-20">
                            <label>Password*</label>
                            <input type="password" placeholder="Enter Password" class="pass_log_id">
                            <span class="placeholder_icon"><span class="passVicon"><img
                                        src="assets/images/icon/icon_102.svg" alt=""></span></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="agreement-checkbox d-flex justify-content-between align-items-center">
                            <div>
                                <input type="checkbox" id="remember">
                                <label for="remember">Keep me logged in</label>
                            </div>
                            <a href="javascript:void(0)">Forget Password?</a>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn-four w-100 tran3s d-block mt-20 mb-50">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.form-wrapper -->
    </div>
    <!-- /.user-data-form  -->
</div>