<!--
		=====================================================
			Pricing Section Two
		=====================================================
		-->
<div
    class="pricing-section-two position-relative z-1 mt-170 xl-mt-150 lg-mt-80 pt-140 lg-pt-80 pb-150 xl-pb-120 lg-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-xxl-9 col-lg-8 m-auto">
                <div class="title-four text-center mb-50 lg-mb-30">
                    <h2 class="text-white">All-inclusive great options pick your Plan</h2>
                </div>
                <p class="fs-24 text-white text-center mb-40 lg-mb-10">Try Team plan features for 14 days · No credit
                    card required</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="pr-table-wrapper position-relative z-1 mt-40"
            style="background-image: url(assets/images/assets/bg_06.png);">
            <div class="row">
                <div class="col-lg-3 ms-auto">
                    <div class="price">$89.00</div>
                    <p class="fs-22 text-white">Individual Plan</p>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-7">
                    <ul class="style-none mt-20">
                        <li>Designing Style</li>
                        <li>Budget Minimization</li>
                        <li>Venue Booking</li>
                        <li>Caterers & Desserts</li>
                        <li>Photography</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-5 text-center">
                    <a href="javascript:void(0)" class="btn-seven style-two text-uppercase mt-40">Choose Plan</a>
                    <strong class="fs-20 fw-bold d-block text-white text-uppercase mt-20">15% OFF</strong>
                    <p class="fs-20 text-white">Full Payment</p>
                </div>
            </div>
            <img src="assets/images/shape/shape_36.svg" alt="" class="shapes shape_01">
        </div>
        <!-- /.pr-table-wrapper -->

        <div class="pr-table-wrapper position-relative z-1 mt-40"
            style="background-image: url(assets/images/assets/bg_07.png);">
            <div class="row">
                <div class="col-lg-3 ms-auto">
                    <div class="price">$69.00</div>
                    <p class="fs-22 text-white">Team Plan</p>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-7">
                    <ul class="style-none mt-20">
                        <li>Designing Style</li>
                        <li>Budget Minimization</li>
                        <li>Venue Booking</li>
                        <li>Caterers & Desserts</li>
                        <li>Photography</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-5 text-center">
                    <a href="javascript:void(0)" class="btn-seven style-two text-uppercase mt-40">Choose Plan</a>
                    <strong class="fs-20 fw-bold d-block text-white text-uppercase mt-20">13% OFF</strong>
                    <p class="fs-20 text-white">Full Payment</p>
                </div>
            </div>
            <img src="assets/images/shape/shape_37.svg" alt="" class="shapes shape_01">
        </div>
        <!-- /.pr-table-wrapper -->

        <div class="pr-table-wrapper position-relative z-1 mt-40"
            style="background-image: url(assets/images/assets/bg_08.png);">
            <div class="row">
                <div class="col-lg-3 ms-auto">
                    <div class="price">$129.00</div>
                    <p class="fs-22 text-white">Business Plan</p>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-7">
                    <ul class="style-none mt-20">
                        <li>Designing Style</li>
                        <li>Budget Minimization</li>
                        <li>Venue Booking</li>
                        <li>Caterers & Desserts</li>
                        <li>Photography</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-5 text-center">
                    <a href="javascript:void(0)" class="btn-seven style-two text-uppercase mt-40">Choose Plan</a>
                    <strong class="fs-20 fw-bold d-block text-white text-uppercase mt-20">20% OFF</strong>
                    <p class="fs-20 text-white">Full Payment</p>
                </div>
            </div>
            <img src="assets/images/shape/shape_38.svg" alt="" class="shapes shape_01">
        </div>
        <!-- /.pr-table-wrapper -->
    </div>
</div>
<!-- /.pricing-section-two -->