<!--
		=====================================================
			Fancy Banner One
		=====================================================
		-->
<div
    class="fancy-banner-one position-relative z-1 bg-one border-30 text-center pt-130 lg-pt-80 pb-130 lg-pb-80 mb-30 lg-mb-20">
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 col-lg-7 m-auto">
                <div class="title-one mb-35 lg-mb-30">
                    <h2>Start Spending with piku</h2>
                </div>
            </div>
        </div>
        <p class="fs-28 mb-45 lg-mb-30">Order debit cards for your business & start using it today.</p>
        <a routerLink="/auth/signup" class="btn-two xl">Let’s Get Started</a>
    </div>
    <img src="assets/images/assets/ils_02.png" alt="" class="shapes shape_01">
    <img src="assets/images/assets/ils_03.png" alt="" class="shapes shape_02">
</div>