<!-- 
		=============================================
			Inner Banner Two
		============================================== 
		-->
<div class="inner-banner-two bg-one border-30 z-1 pt-100 lg-pt-60 pb-90 lg-pb-50 mt-30 lg-mt-20 position-relative">
    <div class="container">
        <div class="title-one text-center">
            <h2>Faq’s</h2>
        </div>
    </div>
    <img src="assets/images/shape/shape_89.svg" alt="" class="shapes shape_01">
</div>
<!-- /.inner-banner-two -->


<!--
		=====================================================
			FAQ Section One
		=====================================================
		-->
<div
    class="faq-section-one bg-four position-relative z-1 pt-150 lg-pt-80 pb-120 lg-pb-60 border-30 mb-30 lg-mb-20 mt-30 lg-mt-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div ngbAccordion #accordion="ngbAccordion" class="accordion accordion-style-one" [closeOthers]="true">
                    <div ngbAccordionItem="first" #first="ngbAccordionItem" [collapsed]="true" class="accordion-item">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAOne" aria-expanded="false" aria-controls="collapseAOne"
                                ngbAccordionToggle>
                                I have running plan, How can I change it?
                            </button>
                        </h2>
                        <div id="collapseAOne" class="accordion-collapse collapse" data-bs-parent="#accordionTwo"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <ng-template>
                                    <p class="fs-22">It only takes 5 minutes. Set-up is smooth & simple, with fully
                                        customisable filter to the right one.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem="sec" #sec="ngbAccordionItem" [collapsed]="true" class="accordion-item">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAOne" aria-expanded="false" aria-controls="collapseAOne"
                                ngbAccordionToggle>
                                How does piku cost?
                            </button>
                        </h2>
                        <div id="collapseAOne" class="accordion-collapse collapse" data-bs-parent="#accordionTwo"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <ng-template>
                                    <p class="fs-22">It only takes 5 minutes. Set-up is smooth & simple, with fully customisable filter to the right one.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem="three" #three="ngbAccordionItem" [collapsed]="true" class="accordion-item">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAOne" aria-expanded="false" aria-controls="collapseAOne"
                                ngbAccordionToggle>
                                Why I should choose piku?
                            </button>
                        </h2>
                        <div id="collapseAOne" class="accordion-collapse collapse" data-bs-parent="#accordionTwo"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <ng-template>
                                    <p class="fs-22">It only takes 5 minutes. Set-up is smooth & simple, with fully
                                        customisable filter to the right one.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem="four" #four="ngbAccordionItem" [collapsed]="true" class="accordion-item">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAOne" aria-expanded="false" aria-controls="collapseAOne"
                                ngbAccordionToggle>
                                How does piku cost?
                            </button>
                        </h2>
                        <div id="collapseAOne" class="accordion-collapse collapse" data-bs-parent="#accordionTwo"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <ng-template>
                                    <p class="fs-22">It only takes 5 minutes. Set-up is smooth & simple, with fully customisable filter to the right one.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem="five" #five="ngbAccordionItem" [collapsed]="true" class="accordion-item">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAOne" aria-expanded="false" aria-controls="collapseAOne"
                                ngbAccordionToggle>
                                Why I should choose piku?
                            </button>
                        </h2>
                        <div id="collapseAOne" class="accordion-collapse collapse" data-bs-parent="#accordionTwo"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <ng-template>
                                    <p class="fs-22">It only takes 5 minutes. Set-up is smooth & simple, with fully
                                        customisable filter to the right one.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div ngbAccordion #accordion="ngbAccordion" class="accordion accordion-style-one" [closeOthers]="true">
                    <div ngbAccordionItem="firstInfo" #firstInfo="ngbAccordionItem" [collapsed]="true"
                        class="accordion-item">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAOne" aria-expanded="false" aria-controls="collapseAOne"
                                ngbAccordionToggle>
                                I have running plan, How can I change it?
                            </button>
                        </h2>
                        <div id="collapseAOne" class="accordion-collapse collapse" data-bs-parent="#accordionTwo"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <ng-template>
                                    <p class="fs-22">It only takes 5 minutes. Set-up is smooth & simple, with fully
                                        customisable filter to the right one.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem="secInfo" #secInfo="ngbAccordionItem" [collapsed]="true"
                        class="accordion-item">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAOne" aria-expanded="false" aria-controls="collapseAOne"
                                ngbAccordionToggle>
                                How does piku cost?
                            </button>
                        </h2>
                        <div id="collapseAOne" class="accordion-collapse collapse" data-bs-parent="#accordionTwo"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <ng-template>
                                    <p class="fs-22">It only takes 5 minutes. Set-up is smooth & simple, with fully
                                        customisable filter to the right one.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem="threeThree" #threeThree="ngbAccordionItem" [collapsed]="true"
                        class="accordion-item">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAOne" aria-expanded="false" aria-controls="collapseAOne"
                                ngbAccordionToggle>
                                Why I should choose piku?
                            </button>
                        </h2>
                        <div id="collapseAOne" class="accordion-collapse collapse" data-bs-parent="#accordionTwo"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <ng-template>
                                    <p class="fs-22">It only takes 5 minutes. Set-up is smooth & simple, with fully
                                        customisable filter to the right one.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem="five" #five="ngbAccordionItem" [collapsed]="true"
                        class="accordion-item">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAOne" aria-expanded="false" aria-controls="collapseAOne"
                                ngbAccordionToggle>
                                How does piku cost?
                            </button>
                        </h2>
                        <div id="collapseAOne" class="accordion-collapse collapse" data-bs-parent="#accordionTwo"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <ng-template>
                                    <p class="fs-22">It only takes 5 minutes. Set-up is smooth & simple, with fully
                                        customisable filter to the right one.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem="six" #six="ngbAccordionItem" [collapsed]="true"
                        class="accordion-item">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAOne" aria-expanded="false" aria-controls="collapseAOne"
                                ngbAccordionToggle>
                                Why I should choose piku?
                            </button>
                        </h2>
                        <div id="collapseAOne" class="accordion-collapse collapse" data-bs-parent="#accordionTwo"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <ng-template>
                                    <p class="fs-22">It only takes 5 minutes. Set-up is smooth & simple, with fully
                                        customisable filter to the right one.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-60 lg-mt-40">
            <h4 class="mb-35 text-dark">Don’t find your answer?</h4>
            <a routerLink="/contact-v1" class="btn-two style-two xl">Contact us</a>
        </div>
    </div>
</div>