<div class="hero-banner-three z-1 position-relative pt-200 lg-pt-150 pb-75 ">
    <div class="container position-relative">
        <div class="row mb-100">
            <div class="col-xl-10 col-lg-10 m-auto text-center">
                <h1 class="hero-heading wow fadeInUp">Design website without Coding Experience</h1>
                <p class="fs-28 text-white pt-40 lg-pt-30 pb-35 lg-pb-20 wow fadeInUp" data-wow-delay="0.1s">What kind of website would you like to create? Let’s Get started</p>
                <form class="m-auto position-relative">
                    <input #buildInput type="text" placeholder="Ex: Business, Marketing">
                    <button type="button" (click)="onBuildNowClick(buildInput.value)" class="tran3s">Build Now</button>
                </form>
            </div>
        </div>
    </div>
</div>