<div class="hero-banner-three z-1 position-relative pt-200 lg-pt-150 pb-75 lg-pb-20">
    <div class="container position-relative">
      <div class="row mb-100">
        <div class="col-xl-10 col-lg-10 m-auto text-center">
          <div class="hero-heading wow fadeInUp">
            <img src="assets/images/logo/logo_black_transparent.svg" alt="Kodeo Logo" class="hero-logo">
          </div>
          <p 
            class="fs-28 text-white pt-0 lg-pt-30 pb-25 lg-pb-20 wow fadeInUp"
            data-wow-delay="0.1s"
          >
            ¿Qué tipo de sitio web necesitas? Comencemos hoy mismo.
          </p>
          <div class="d-flex justify-content-center mt-4">
            <a (click)="goToContact()" class="btn-eleven" style="cursor:pointer;">
              <span class="btn-text">¡Contactar ahora!</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  