<div class="faq-section-three position-relative mt-130 lg-mt-80" style="background-image: url(assets/images/assets/bg_01.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="title-four">
                    <h2 class="fw-bold">Preguntas Frecuentes</h2>
                </div>
                <p class="fs-22 text-white pe-xxl-5 mt-40 md-mt-10 mb-40">Encuentra tus respuestas aquí. Si no las encuentras aquí, contáctanos.</p>
                <a routerLink="/ai-writer/contact-v2" class="btn-eleven style-two">Tengo una pregunta.</a>
            </div>
            <div class="col-lg-7">
                <div class="accordion accordion-style-two p0 bg-transparent shadow-none ms-xl-4 md-mt-40" id="accordionFour"
                    ngbAccordion [closeOthers]="true">
                    <div class="accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOneA" aria-expanded="false" aria-controls="collapseOneA"
                                ngbAccordionButton>
                                ¿Mi web es compatible en celulares?
                            </button>
                        </h2>
                        <div id="collapseOneA" class="accordion-collapse collapse" data-bs-parent="#accordionFour"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <p class="fs-22">Sí. Aproximadamente el 75% del tráfico proviene de celulares. Si tu sitio no funciona bien en dispositivos móviles o 
                                    cualquier otro dispositivo, perderás la mayoría de tus clientes potenciales. Nos aseguraremos de que funcione sin problemas 
                                    en cualquier dispositivo.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwoA" aria-expanded="false" aria-controls="collapseTwoA"
                                ngbAccordionButton>
                                ¿Cuánto costará un nuevo sitio web?
                            </button>
                        </h2>
                        <div id="collapseTwoA" class="accordion-collapse collapse" data-bs-parent="#accordionFour"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <p class="fs-22">El costo depende completamente de tus deseos, necesidades y presupuesto. Ofrecemos precios personalizados para garantizar 
                                    la entrega de resultados a cualquier tipo de cliente, sin importar su presupuesto. Si tu presupuesto es limitado, diseñaremos un 
                                    paquete más accesible que aún resuelva tus necesidades.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThreeA" aria-expanded="true" aria-controls="collapseThreeA"
                                ngbAccordionButton>
                                ¿Cuánto tiempo tomará publicar mi sitio web?
                            </button>
                        </h2>
                        <div id="collapseThreeA" class="accordion-collapse collapse" data-bs-parent="#accordionFour"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <p class="fs-22">La mayoría de los sitios web están listos en 2 a 4 semanas. Te mantendremos actualizado sobre nuestro 
                                    progreso en cada paso del camino, para que siempre sepas en qué etapa estamos.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFourA" aria-expanded="true" aria-controls="collapseFourA"
                                ngbAccordionButton>
                                ¿Qué pasa si no tengo todo el contenido listo para mi web?
                            </button>
                        </h2>
                        <div id="collapseFourA" class="accordion-collapse collapse" data-bs-parent="#accordionFour"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <p class="fs-22">Comenzaremos entendiendo tus necesidades y objetivos para el sitio web. 
                                    Luego, diseñaremos un sitio web personalizado y añadiremos funciones para ayudarte a lograr esos objetivos. Puedes facilitarnos los textos e 
                                    imágenes más adelante.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFiveA" aria-expanded="true" aria-controls="collapseFiveA"
                                ngbAccordionButton>
                                ¿Pueden ayudarme con el posicionamiento de mi web en internet?
                            </button>
                        </h2>
                        <div id="collapseFiveA" class="accordion-collapse collapse" data-bs-parent="#accordionFour"
                            ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <p class="fs-22">Sí. Ofrecemos servicios de SEO que ayudarán a que tu sitio web se posicione 
                                    mejor en Google, lo que permitirá que tu página tenga un mayor tráfico.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>