<div class="faq-section-three position-relative mt-150 xl-mt-120 lg-mt-80">
    <div class="container">
        <div class="title-six text-center mb-80 lg-mb-40">
            <h2>Questions & Answers</h2>
        </div>

        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="accordion accordion-style-two p0 bg-transparent shadow-none ms-xxl-4 me-xxl-4" id="accordionFour" ngbAccordion [closeOthers]="true">
                    <div class="accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneA" aria-expanded="false" aria-controls="collapseOneA" ngbAccordionButton>
                                What is web hosting?
                            </button>
                          </h2>
                          <div id="collapseOneA" class="accordion-collapse collapse" data-bs-parent="#accordionFour" ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <p class="fs-22">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore eligendi dolores animi quas blanditiis iusto mollitia quasi, ipsa numquam quaerat.</p>
                            </div>
                          </div>
                    </div>
                    <div class="accordion-item" ngbAccordionItem >
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoA" aria-expanded="false" aria-controls="collapseTwoA" ngbAccordionButton>
                                How do you weigh different criteria in your process?
                            </button>
                        </h2>
                        <div id="collapseTwoA" class="accordion-collapse collapse" data-bs-parent="#accordionFour" ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <p class="fs-22">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore eligendi dolores animi quas blanditiis iusto mollitia quasi, ipsa numquam quaerat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" ngbAccordionItem >
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeA" aria-expanded="true" aria-controls="collapseThreeA" ngbAccordionButton>
                                What can I use to build my website?
                            </button>
                        </h2>
                        <div id="collapseThreeA" class="accordion-collapse collapse" data-bs-parent="#accordionFour" ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <p class="fs-22">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore eligendi dolores animi quas blanditiis iusto mollitia quasi, ipsa numquam quaerat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" ngbAccordionItem >
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourA" aria-expanded="true" aria-controls="collapseFourA" ngbAccordionButton>
                                If I already have a website, can I transfer it to your web hosting?
                            </button>
                        </h2>
                        <div id="collapseFourA" class="accordion-collapse collapse" data-bs-parent="#accordionFour" ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <p class="fs-22">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore eligendi dolores animi quas blanditiis iusto mollitia quasi, ipsa numquam quaerat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" ngbAccordionItem >
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveA" aria-expanded="true" aria-controls="collapseFiveA" ngbAccordionButton>
                                How can I accept credit cards online?
                            </button>
                        </h2>
                        <div id="collapseFiveA" class="accordion-collapse collapse" data-bs-parent="#accordionFour" ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <p class="fs-22">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore eligendi dolores animi quas blanditiis iusto mollitia quasi, ipsa numquam quaerat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>