<div class="footer-custom">
  <div class="container">
    <div class="row align-items-start footer-row">
      <div class="col-lg-6 col-md-6 mb-4 mb-lg-0">
        <div class="footer-title">Redes Sociales</div>
        <div class="footer-social-links">
          <a href="https://wa.me/" target="_blank" class="footer-social-link">WhatsApp</a><br>
          <a href="https://www.instagram.com/bykodeo/" target="_blank" class="footer-social-link">Instagram</a><br>
          <a href="https://facebook.com/" target="_blank" class="footer-social-link">Facebook</a><br>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 text-lg-end text-md-end text-start">
        <div class="footer-contact-title">No seas un extraño. Escríbenos.</div>
        <div class="footer-contact-email">hello&#64;bykodeo.com</div>
        <div class="col-lg-12 col-md-12 d-flex flex-wrap justify-content-lg-end justify-content-md-end justify-content-center gap-4 footer-menu">
            <span (click)="scrollToSection('servicesSection')" style="cursor:pointer;">SERVICIOS</span>
            <span (click)="scrollToSection('projectsSection')" style="cursor:pointer;">PORTAFOLIO</span>
            <span (click)="scrollToSection('testimonialsSection')" style="cursor:pointer;">RESEÑAS</span>
            <span (click)="scrollToSection('contactSection')" style="cursor:pointer;">CONTACTO</span>
        </div>
        <div class="row mt-5 pt-4 border-top footer-copyright-row">
          <div class="col-lg-12 col-md-12 text-lg-end text-md-end text-center mt-3 mt-md-0 footer-copyright">
            <span>KODEO 2025 ©</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>