<div class="footer-four" style="background-image: url(assets/images/assets/bg_01.png);">
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-2">
                    <div class="footer-intro mb-30">
                        <div class="logo mt-15">
                            <a routerLink="/">
                                <img src="assets/images/logo/logo_07.svg" alt="">
                            </a>
                        </div>
                        <!-- logo -->
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <div class="footer-nav mb-20">
                        <app-first-footer-nav></app-first-footer-nav>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <div class="footer-nav mb-20">
                        <app-sec-footer-nav></app-sec-footer-nav>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer-nav mb-20">
                        <app-three-footer-nav></app-three-footer-nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-newsletter mb-20">
                        <h6>Join Our Newsletter</h6>
                        <form action="#" class="position-relative">
                            <input type="email" placeholder="Your email address">
                            <button class="tran3s">Sign Up</button>
                        </form>
                        <p class="fs-16 mt-15">We only send interesting and relevant emails.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="bottom-footer">
            <p class="copyright-text text-center"><strong class="text-white">{{year}}.</strong> All Right Reserved. </p>
        </div>
    </div>
</div> <!-- /.footer-four -->