<div class="footer-three">
    <div class="container">
        <div class="position-relative">
            <div class="row justify-content-between">
                <div class="col-lg-2 order-lg-0">
                    <div class="logo mt-15 mb-30">
                        <a routerLink="/">
                            <img src="assets/images/logo/logo_01.svg" alt="">
                        </a>
                    </div>
                    <!-- logo -->
                </div>
                <div class="col-lg-2 col-6 order-lg-1">
                    <div class="footer-nav">
                        <app-first-footer-nav></app-first-footer-nav>
                    </div>
                </div>
                <div class="col-lg-2 col-6 order-lg-3">
                    <div class="footer-nav">
                        <app-sec-footer-nav></app-sec-footer-nav>
                    </div>
                </div>
                <div class="col-lg-2 col-6 order-lg-2">
                    <div class="footer-nav mb-20">
                        <app-three-footer-nav></app-three-footer-nav>
                    </div>
                </div>
                <div class="col-lg-2 col-6 order-lg-4">
                    <div class="footer-nav mb-20">
                        <app-four-footer-nav></app-four-footer-nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="bottom-footer border-white">
            <div class="d-md-flex align-items-center justify-content-between">
                <div class="d-flex justify-content-center align-items-center sm-mb-20">
                    <ul class="style-none d-flex justify-content-center">
                        <li><a routerLink="/ai-writer/faq-v2">Demo .</a></li>
                        <li><a routerLink="/ai-writer/faq-v2">Partners .</a></li>
                        <li><a routerLink="/ai-writer/blog-v2">Careers</a></li>
                    </ul>
                </div>
                <p class="copyright-text text-center m0"><span>{{'@'+year}} Piku inc.</span> All Right Reserved</p>
            </div>
        </div>
    </div>
</div>