<!-- 
		=============================================
			Hero Banner
		============================================== 
		-->
<div class="hero-banner-six z-1 position-relative">
    <div class="wrapper position-relative z-1 pt-250 xl-pt-200 md-pt-150 pb-180 xl-pb-100 lg-pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <h1 class="hero-heading wow fadeInUp pe-xxl-5">Crafted with <span>humans,</span> Productivity in
                        mind</h1>
                    <p class="fs-24 pt-35 pb-20 pe-xxl-5 wow fadeInUp" data-wow-delay="0.1s">Piku delivered blazing fast
                        performance, striking word solution</p>

                    <div class="d-flex align-items-center flex-wrap wow fadeInUp" data-wow-delay="0.2s">
                        <a href="javascript:void(0)" class="btn-seven color-two mt-10 me-3">Download - It’s free</a>
                        <a class="btn-sixteen mt-10" routerLink="/ai-writer/contact-v2">Contact</a>
                    </div>

                    <div class="d-flex align-items-center mt-75 md-mt-40">
                        <img src="assets/images/assets/avatar.png" alt="">
                        <div class="rating">
                            <div class="fw-500 text-white fs-20">Rated 5.0 on clutch</div>
                            <ul class="style-none d-flex">
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="illustration">
            <img src="assets/images/assets/card_13.png" alt="" class="w-100">
            <img src="assets/images/assets/card_13.1.png" alt="" class="shapes shape_01">
            <img src="assets/images/assets/card_13.2.png" alt="" class="shapes shape_02">
            <img src="assets/images/assets/card_13.3.png" alt="" class="shapes shape_03">
        </div>
        <img src="assets/images/assets/bg_09.png" alt="" class="shapes bg-shape">
    </div>
</div>
<!-- /.hero-banner-six -->





<!--
		=====================================================
			Fancy Banner Six
		=====================================================
		-->
<div class="fancy-banner-six position-relative z-1 mt-60 lg-mt-30">
    <div class="wrapper position-relative">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <h2>We’ve people company maintain</h2>
                </div>
                <div class="col-xl-5 col-lg-6 ms-auto">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="counter-block-two">
                                <div class="main-count fw-500 text-white">$<span class="counter">9.1</span>b+</div>
                                <p class="fs-22">Coverage</p>
                            </div>
                            <!-- /.counter-block-two -->
                        </div>
                        <div class="col-sm-5">
                            <div class="counter-block-two">
                                <div class="main-count fw-500 text-white"><span class="counter">1.2</span>m</div>
                                <p class="fs-22">Low interest rate</p>
                            </div>
                            <!-- /.counter-block-two -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/shape/shape_51.svg" alt="" class="shapes shape_01">
    <img src="assets/images/shape/shape_52.svg" alt="" class="shapes shape_02">
    <img src="assets/images/shape/shape_53.svg" alt="" class="shapes shape_03">
</div>
<!-- /.fancy-banner-six -->






<!--
		=====================================================
			Block Feature Seventeen
		=====================================================
		-->
<div class="block-feature-seventeen position-relative z-1 mt-150 lg-mt-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-6 m-auto">
                <div class="title-nine text-center mb-60 lg-mb-10">
                    <div class="upper-title">Main Features</div>
                    <h2>Creative power that goes beyond the app</h2>
                </div>
                <!-- /.title-nine -->
            </div>
        </div>

        <div class="row gx-xxl-5">
            <div class="col-lg-4">
                <div class="card-style-eight text-center mt-35 wow fadeInUp">
                    <img src="assets/images/icon/icon_34.png" alt="" class="icon m-auto">
                    <h5>Open Account</h5>
                    <p class="ps-xxl-4 pe-xxl-4">You design, we generate the code — for everything from fully custom
                        layouts to</p>
                </div>
                <!-- /.card-style-eight -->
            </div>
            <div class="col-lg-4">
                <div class="card-style-eight text-center mt-35 wow fadeInUp" data-wow-delay="0.1s">
                    <img src="assets/images/icon/icon_35.png" alt="" class="icon m-auto">
                    <h5>Dashboard</h5>
                    <p class="ps-xxl-4 pe-xxl-4">You design, we generate the code — for everything from fully custom
                        layouts to</p>
                </div>
                <!-- /.card-style-eight -->
            </div>
            <div class="col-lg-4">
                <div class="card-style-eight text-center mt-35 wow fadeInUp" data-wow-delay="0.2s">
                    <img src="assets/images/icon/icon_36.png" alt="" class="icon m-auto">
                    <h5>Expert Support</h5>
                    <p class="ps-xxl-4 pe-xxl-4">You design, we generate the code — for everything from fully custom
                        layouts to</p>
                </div>
                <!-- /.card-style-eight -->
            </div>
        </div>
    </div>
</div>
<!-- /.block-feature-seventeen -->





<!--
		=====================================================
			BLock Feature Eighteen
		=====================================================
		-->
<div class="block-feature-eighteen pt-180 lg-pt-100">
    <div class="container">
        <div class="row gx-xxl-5">
            <div class="col-12">
                <div class="feature-block block-one md-pt-30 w-100">
                    <div class="row align-items-center">
                        <div class="col-lg-5 order-lg-last">
                            <div class="ps-xxl-4 pe-xxl-3">
                                <h3>Award winning Application</h3>
                                <p class="fs-24 pt-35 lg-pt-20 pb-20">Go paperless. Back up important to all your
                                    devices, & keep the information not the clutter.</p>
                                <a routerLink="/cyber-security/about-us-v3" class="btn-seven">Learn More</a>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <img src="assets/images/assets/card_14.png" alt="" class="me-auto ms-auto">
                        </div>
                    </div>

                </div>
                <!-- /.feature-block -->
            </div>
            <div class="col-lg-6 d-flex">
                <div class="feature-block block-one w-100 mt-50 lg-mt-30 pt-55 lg-pt-30">
                    <h3>Major Application Integration</h3>
                    <p class="fs-24 pt-30 md-pt-20">Go paperless. Back up important to all devices, & keep the
                        information not the clutter.</p>
                    <div class="position-relative">
                        <img src="assets/images/assets/card_15.png" alt="" class="me-auto ms-auto">
                        <img src="assets/images/shape/shape_54.svg" alt="" class="shapes shape_01">
                    </div>
                </div>
                <!-- /.feature-block -->
            </div>
            <div class="col-lg-6 d-flex">
                <div class="feature-block block-one w-100 mt-50 lg-mt-30 pt-55 lg-pt-30 md-pb-40">
                    <h3>Cool Features & Widgets</h3>
                    <p class="fs-24 pt-30 md-pt-20 pb-20">Go paperless. Back up important to all devices, & keep the
                        information not the clutter. keep quis information not the </p>
                    <div class="position-relative">
                        <img src="assets/images/assets/card_16.png" alt="" class="me-auto ms-auto card-three">
                    </div>
                </div>
                <!-- /.feature-block -->
            </div>
            <div class="col-12">
                <div class="feature-block block-one w-100 mt-50 lg-mt-30 pt-70 lg-pt-40">
                    <div class="row align-items-center">
                        <div class="col-xl-5 col-lg-6 m-auto text-center">
                            <h3>Standby, A full New Experiences</h3>
                        </div>
                    </div>
                    <img src="assets/images/assets/card_17.png" alt="" class="me-auto ms-auto mt-70 xs-mt-40">
                    <img src="assets/images/assets/card_17.1.png" alt="" class="shapes shape_02">
                    <img src="assets/images/shape/shape_55.svg" alt="" class="shapes shape_03">
                </div>
                <!-- /.feature-block -->
            </div>
        </div>
    </div>
</div>
<!-- /.block-feature-eighteen -->




<!--
		=====================================================
			Feedback Section Six
		=====================================================
		-->
<div class="feedback-section-six text-center position-relative z-1 mt-200 xl-mt-150 lg-mt-100">
    <div class="container">
        <img src="assets/images/assets/card_18.png" alt="" class="mb-50 lg-mb-10">
        <div class="text-uppercase mb-15 xs-mb-30"><span class="fw-bold text-white">1.2m+ </span>Customers </div>
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="feedback-slider-four">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="item">
                                <blockquote>"Extraordinary performance! <span>Quick solutions.</span> Highly
                                    Recommended."
                                </blockquote>
                                <h6>- Jesica Harris</h6>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="item">
                                <blockquote>"Extraordinary performance! <span>Quick solutions.</span> Highly
                                    Recommended."
                                </blockquote>
                                <h6>- Rashid Kabir</h6>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="item">
                                <blockquote>"Extraordinary performance! <span>Quick solutions.</span> Highly
                                    Recommended."
                                </blockquote>
                                <h6>- Al Hasan</h6>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
        <img src="assets/images/assets/card_19.png" alt="" class="mt-50 lg-mt-10">
        <img src="assets/images/assets/bg_10.png" alt="" class="shapes shape_01">
        <img src="assets/images/shape/shape_56.svg" alt="" class="shapes shape_02">
        <img src="assets/images/shape/shape_57.svg" alt="" class="shapes shape_03">
    </div>
</div>
<!-- /.feedback-section-six -->




<!--
		=====================================================
			Pricing Section Five
		=====================================================
		-->
<div
    class="pricing-section-five position-relative z-1 mt-180 xl-mt-150 lg-mt-80 pt-130 lg-pt-80 pb-150 xl-pb-130 lg-pb-80">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-xl-6 col-lg-6">
                <div class="title-nine">
                    <h2 class="text-white">No Hidden Charge, Get your plan</h2>
                </div>
                <!-- /.title-nine -->
            </div>
            <div class="col-xl-4 col-lg-5 ms-auto">
                <p class="text-white fs-24 md-mt-20">Go paperless. Back up important to all devices, & keep the
                    information not the clutter.</p>
            </div>
        </div>

        <div class="mt-50 lg-mt-20">
            <div class="row gx-xxl-5">
                <div class="col-lg-4 d-flex mt-35">
                    <div class="pr-column w-100 d-flex flex-column">
                        <div class="pr-header text-center">
                            <div class="plane-name fw-500 text-uppercase">Free Plan</div>
                            <div class="price fw-500">0</div>
                        </div>
                        <!-- /.pr-header -->
                        <ul class="style-none package-feature mt-50 lg-mt-20 mb-35">
                            <li><img src="assets/images/icon/check.svg" alt="" class="icon"> 60-day chat history</li>
                            <li><img src="assets/images/icon/check.svg" alt="" class="icon"> Basic widget customization
                            </li>
                            <li><img src="assets/images/icon/cross.svg" alt="" class="icon"> Ticketing system</li>
                            <li><img src="assets/images/icon/cross.svg" alt="" class="icon"> Data security</li>
                        </ul>
                        <div class="mt-auto"><a href="javascript:void(0)" class="btn-seven w-100">Subscribe Now</a></div>
                        <img src="assets/images/shape/shape_58.svg" alt="" class="shapes shape_01">
                    </div>
                    <!-- /.pr-column -->
                </div>
                <div class="col-lg-4 d-flex mt-35">
                    <div class="pr-column w-100 d-flex flex-column">
                        <div class="pr-header text-center">
                            <div class="plane-name fw-500 text-uppercase">STandard</div>
                            <div class="price fw-500">$13</div>
                        </div>
                        <!-- /.pr-header -->
                        <ul class="style-none package-feature mt-50 lg-mt-20 mb-35">
                            <li><img src="assets/images/icon/check.svg" alt="" class="icon"> 60-day chat history</li>
                            <li><img src="assets/images/icon/check.svg" alt="" class="icon"> Basic widget customization
                            </li>
                            <li><img src="assets/images/icon/check.svg" alt="" class="icon"> Ticketing system</li>
                            <li><img src="assets/images/icon/cross.svg" alt="" class="icon"> Data security</li>
                        </ul>
                        <div class="mt-auto"><a href="javascript:void(0)" class="btn-seven w-100">Subscribe Now</a></div>
                    </div>
                    <!-- /.pr-column -->
                </div>
                <div class="col-lg-4 d-flex mt-35">
                    <div class="pr-column w-100 d-flex flex-column">
                        <div class="pr-header text-center">
                            <div class="plane-name fw-500 text-uppercase">BUSINESS</div>
                            <div class="price fw-500">$99</div>
                        </div>
                        <!-- /.pr-header -->
                        <ul class="style-none package-feature mt-50 lg-mt-20 mb-35">
                            <li><img src="assets/images/icon/check.svg" alt="" class="icon"> 60-day chat history</li>
                            <li><img src="assets/images/icon/check.svg" alt="" class="icon"> Basic widget customization
                            </li>
                            <li><img src="assets/images/icon/check.svg" alt="" class="icon"> Ticketing system</li>
                            <li><img src="assets/images/icon/check.svg" alt="" class="icon"> Data security</li>
                        </ul>
                        <div class="mt-auto"><a href="javascript:void(0)" class="btn-seven w-100">Subscribe Now</a></div>
                        <img src="assets/images/shape/shape_58.svg" alt="" class="shapes shape_02">
                    </div>
                    <!-- /.pr-column -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.pricing-section-five -->




<!--
		=====================================================
			Fancy Banner Seven
		=====================================================
		-->
<div class="fancy-banner-seven position-relative z-1 mt-150 lg-mt-80">
    <div class="container">
        <img src="assets/images/shape/shape_59.svg" alt="" class="m-auto shape_01">
        <div class="row">
            <div class="col-xxl-9 col-lg-8 m-auto text-center">
                <div class="title-four mt-40 lg-mt-20">
                    <h2>Love Application? Save $20 by grab it today</h2>
                </div>
                <!-- /.title-eight -->
                <p class="fs-28 mt-40 lg-mt-30 mb-40 lg-mb-30">Try it risk free — we don’t charge cancellation fees</p>
                <div class="d-flex align-items-center justify-content-center flex-wrap platform-button-group">
                    <a href="javascript:void(0)" class="d-flex align-items-center ios-button">
                        <img src="assets/images/icon/apple.svg" alt="" class="icon">
                        <div>
                            <span>Download on the</span>
                            <strong>App store</strong>
                        </div>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center windows-button">
                        <img src="assets/images/icon/playstore.svg" alt="" class="icon">
                        <div>
                            <span>Get it on</span>
                            <strong>Google play</strong>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>