<header class="theme-main-menu menu-style-five sticky-menu menu-overlay dark-vr" id="page-topbar">
    <div class="inner-content gap-three">
        <div class="top-header position-relative">
            <div class="d-flex align-items-center justify-content-between">
                <div class="logo order-lg-0 me-lg-5">
                    <a routerLink="/" class="d-flex align-items-center">
                        <img src="assets/images/logo/logo_05.svg" alt="">
                    </a>
                </div>
                <!-- logo -->
                <div class="right-widget ms-auto ms-lg-0 me-3 me-lg-0 order-lg-3">
                    <ul class="d-flex align-items-center style-none">
                        <li>
                            <a routerLink="/auth" class="login-btn-three fw-500 tran3s">Login</a>
                        </li>
                        <li class="d-none d-md-inline-block ms-3">
                            <a routerLink="/auth/signup" class="btn-seven style-two">Try it Now</a>
                        </li>
                    </ul>
                </div>
                <nav class="navbar navbar-expand-lg p0 me-lg-auto ms-lg-5 order-lg-2">
                    <button class="navbar-toggler d-block d-lg-none" type="button"
                        (click)="isSideNavOpen = !isSideNavOpen" [ngClass]="{'collapsed':isSideNavOpen}" [attr.aria-expanded]="isSideNavOpen">
                        <span></span>
                    </button>
                    
                    <app-nav-items [extraDetails]="items" [isSideNavOpen]="isSideNavOpen"></app-nav-items>
                </nav>
            </div>
        </div> <!--/.top-header-->
    </div> <!-- /.inner-content -->
</header> 