<div class="contact-section-one mt-180 lg-mt-80">
    <div class="container xl">
        <div class="wrapper">
            <div class="title-three text-center mb-60">
                <h2>CONTACT US</h2>
            </div>

            <div class="form-style-one">
                <form action="inc/contact.php" id="contact-form" data-toggle="validator">
                    <div class="messages"></div>
                    <div class="row controls">
                        <div class="col-sm-6">
                            <div class="input-group-meta form-group mb-30">
                                <label for="">Name*</label>
                                <input type="text" placeholder="Full Name*" name="name" required="required"
                                    data-error="Name is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group-meta form-group mb-30">
                                <label for="">Email*</label>
                                <input type="email" placeholder="Email Address*" name="email" required="required"
                                    data-error="Valid email is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group-meta form-group mb-35">
                                <label for="">Subject (optional)</label>
                                <input type="text" placeholder="Write your subject..." name="subject">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group-meta form-group mb-35">
                                <textarea placeholder="Write Message here.." name="message" required="required"
                                    data-error="Please,leave us a message."></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-12 mt-20"><button class="btn-five tran3s m-auto">Send Message</button></div>
                    </div>
                </form>
            </div> <!-- /.form-style-one -->
        </div>
    </div>
</div>