.narrow-form {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.label-modify {
    color: white !important;
    font-size: 24px !important;
}

@media (max-width: 1200px) {
  .label-modify {
    font-size: 22px !important;
  }
}

@media (max-width: 992px) {
  .label-modify {
    font-size: 20px !important;
  }
}

@media (max-width: 768px) {
  .label-modify {
    font-size: 18px !important;
  }
}

@media (max-width: 576px) {
  .label-modify {
    font-size: 18px !important;
  }
}