<div class="footer-five">
    <div class="wrapper">
        <div class="container">
            <div class="position-relative">
                <div class="newsletter">
                    <div class="row">
                        <div class="col-xl-6 col-lg-5 col-md-6">
                            <h3 class="sm-mb-40">Signup for Regular Newsletter</h3>
                        </div>
                        <div class="col-md-6 ms-auto">
                            <form action="#" class="position-relative">
                                <h6>Newsletter</h6>
                                <input type="email" placeholder="rakabir@gmail.com">
                                <button class="tran3s"><img src="assets/images/icon/icon_34.svg" alt="" class="m-auto"></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 me-auto">
                        <div class="footer-intro mb-30">
                            <div class="logo mt-15">
                                <a routerLink="/">
                                    <img src="assets/images/logo/logo_07.svg" alt="">
                                </a>
                            </div> 
                            <!-- logo -->
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-6">
                        <div class="footer-nav mb-20">
                            <app-first-footer-nav></app-first-footer-nav>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-2 col-md-4 col-6">
                        <div class="footer-nav mb-40">
                            <app-sec-footer-nav></app-sec-footer-nav>
                        </div>
                    </div>
                    <div class="col-xxl-2 col-xl-3 col-md-4">
                        <div class="footer-contact mb-20">
                            <p class="fw-500">210 Wallent Street, California, Main OC, USA</p>
                            <a href="javascript:void(0)" class="tel fw-500 tran3s">(+91) 0187 34 377</a>
                            <ul class="style-none d-flex align-items-center social-icon">
                                <li><a href="javascript:void(0)"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p class="copyright-text text-center m0"><strong class="text-white">{{'@'+year}}.</strong> All Right Reserved. </p>
            </div>
        </div>
    </div>
    <img src="assets/images/assets/bg_12.png" alt="" class="shapes bg_01">
    <img src="assets/images/shape/shape_56.svg" alt="" class="shapes shape_02">
    <img src="assets/images/shape/shape_57.svg" alt="" class="shapes shape_03">
</div> <!-- /.footer-five -->