<div id="testimonialsSection" class="feedback-section-nine feedback-change position-relative z-1 pt-120 xl-pt-100 lg-pt-80 pb-130 lg-pb-80 mt-0 lg-mt-0" style="background-color: #161616;">
    <div class="container">
        <div class="title-three pb-50">
            <h1 class="hero-heading text-center wow fadeInUp">¿Qué dicen nuestros clientes?</h1>
        </div>
    </div>
    <div class="wrapper">
        <div class="feedback-slider-six">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let testimonial of testimonials">
                    <div class="item">
                        <div class="feedback-block">
                            <img [src]="testimonial.logo" alt="" class="logo">
                            <blockquote>{{ testimonial.quote }}</blockquote>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="name text-white"><span class="fw-500">{{ testimonial.name }},</span> {{ testimonial.role }}</div>
                                <img [src]="testimonial.icon" alt="" class="icon">
                            </div>
                        </div>
                        <!-- /.feedback-block -->
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <!-- /.feedback-slider-six -->
    </div>
    <img src="assets/images/shape/shape_81.svg" alt="" class="shapes shape_01">
</div>