<div id="testimonialsSection" class="feedback-section-nine feedback-change position-relative z-1 pt-80 pb-80 mt-0" style="background-color: #000000;">
    <div class="container">
        <div class="title-three pb-40">
            <h1 class="hero-heading text-uppercase wow fadeInUp text-center">Experiencias que <span style="font-weight: 800; color: #fff;">transforman</span> negocios</h1>
            <p class="text-center text-white mt-3 fs-18 opacity-75">Descubre lo que nuestros clientes dicen sobre nuestros servicios</p>
        </div>
    </div>
    
    <div class="wrapper">
        <div class="feedback-slider-six">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let testimonial of testimonials">
                    <div class="item">
                        <div class="feedback-block">
                            <div class="testimonial-header">
                                <img [src]="testimonial.logo" alt="" class="logo">
                            </div>
                            
                            <div class="testimonial-content">
                                <blockquote>{{ testimonial.quote }}</blockquote>
                            </div>
                            
                            <div class="testimonial-footer">
                                <div class="author-info">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="name text-white">
                                        <span class="fw-600">{{ testimonial.name }}</span>
                                        <span class="role">{{ testimonial.role }}</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="testimonial-badge">
                                <i class="fas fa-quote-left"></i>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>