<!-- 
		=============================================
			Block Feature Thirty
		============================================== 
		-->
<div class="block-feature-thirty bg-one border-30 z-1 pt-120 lg-pt-80 pb-130 lg-pb-80 mt-30 lg-mt-20 position-relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-6 order-lg-last">
                <div class="ps-xl-5">
                    <div class="title-one">
                        <h2>We Guide <br>your business forward.</h2>
                    </div>
                    <p class="fs-28 fw-500 text-white mt-55 lg-mt-30 mb-70 lg-mb-40 pe-xxl-5">“Piku provides virtual
                        debit cards and FDIC-insured USD accounts, available through City Savings for added security and
                        convenience.”</p>
                    <div class="fs-24 text-white mb-40 lg-mb-30">- CEO, Piku inc</div>
                    <a routerLink="/contact-v1" class="btn-one">Let’s Started</a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <img src="assets/images/media/img_26.jpg" alt="" class="media-img md-mt-40">
            </div>
        </div>
    </div>
    <img src="assets/images/shape/shape_83.svg" alt="" class="shapes shape_01">
</div>
<!-- /.block-feature-thirty -->


<!--
		=====================================================
			BLock Feature Two
		=====================================================
		-->
<div class="block-feature-two mb-30 lg-mb-20">
    <div class="row gx-xl-4">
        <div class="col-lg-4 d-flex wow fadeInUp mt-30 lg-mt-20">
            <div class="card-style-one text-center border-30 bg-three w-100">
                <div class="icon bg-dark rounded-circle d-flex align-items-center justify-content-center m-auto"><img
                        src="assets/images/icon/icon_77.svg" alt=""></div>
                <h3>Receive USD in <br> minutes</h3>
                <p class="fs-24 fw-500 text-white">Receive global employer payments directly into your account.</p>
            </div>
            <!-- /.card-style-one -->
        </div>
        <div class="col-lg-4 d-flex wow fadeInUp mt-30 lg-mt-20" data-wow-delay="0.1s">
            <div class="card-style-one text-center border-30 bg-three w-100">
                <div class="icon rounded-circle bg-dark d-flex align-items-center justify-content-center m-auto"><img
                        src="assets/images/icon/icon_78.svg" alt=""></div>
                <h3>Protection & highly <br> Security</h3>
                <p class="fs-24 fw-500 text-white">No monthly charges for holding your money in the account indefinitely.
                </p>
            </div>
            <!-- /.card-style-one -->
        </div>
        <div class="col-lg-4 d-flex wow fadeInUp mt-30 lg-mt-20" data-wow-delay="0.2s">
            <div class="card-style-one text-center border-30 bg-three w-100">
                <div class="icon rounded-circle bg-dark d-flex align-items-center justify-content-center m-auto"><img
                        src="assets/images/icon/icon_79.svg" alt=""></div>
                <h3>Transfer Home</h3>
                <p class="fs-24 fw-500 text-white">Return money to your local bank with the best available market rates.
                </p>
            </div>
            <!-- /.card-style-one -->
        </div>
    </div>
</div>
<!-- /.block-feature-two -->


<!-- 
		=============================================
			Block Feature Thirty One
		============================================== 
		-->
<div
    class="block-feature-thirtyOne bg-one border-30 z-1 pt-120 lg-pt-80 pb-130 lg-pb-80 mb-30 lg-mb-20 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="title-one">
                    <h2>Learn more about us.</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="accordion accordion-style-five ms-xxl-5 md-mt-50" ngbAccordion #accordion="ngbAccordion" [closeOthers]="true">
                    <div class="accordion-item" ngbAccordionItem="first" #first="ngbAccordionItem" [collapsed]="false">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button pt-0" type="button" ngbAccordionToggle>
                                Who we are?
                            </button>
                        </h2>
                        <div class="accordion-collapse" ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <p class="fs-22">Our founders Dustin Moskovitz and Justin Rosenstein met while leading
                                    Engineering .</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" ngbAccordionItem="sec" #sec="ngbAccordionItem" [collapsed]="true">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionToggle>
                                What’s our goal
                            </button>
                        </h2>
                        <div class="accordion-collapse" ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <p class="fs-22">Our founders Dustin Moskovitz and Justin Rosenstein met while leading
                                    Engineering .</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" ngbAccordionItem="three" #three="ngbAccordionItem" [collapsed]="true">
                        <h2 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionToggle>
                                Our vision
                            </button>
                        </h2>
                        <div class="accordion-collapse" ngbAccordionCollapse>
                            <div class="accordion-body" ngbAccordionBody>
                                <p class="fs-22">Our founders Dustin Moskovitz and Justin Rosenstein met while leading
                                    Engineering .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="video-banner d-flex align-items-center justify-content-center mt-100 lg-mt-60">
            <a class="video-btn tran3s rounded-circle d-flex align-items-center justify-content-center" data-fancybox=""
                href="https://www.youtube.com/embed/aXFSJTjVjw0"><i class="fa-sharp fa-solid fa-play"></i></a>
        </div>


        <div class="counter-wrapper mt-70 lg-mt-40">
            <div class="row justify-content-between">
                <div class="col-xl-4 col-lg-4">
                    <div class="counter-block-one text-center text-lg-start mt-20">
                        <div class="main-count fw-500 text-white">$<span [countUp]="9.1"></span>B+</div>
                        <span class="fs-22">Coverage</span>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="counter-block-one text-center mt-20">
                        <div class="main-count fw-500 text-white"><span [countUp]="20"></span>+</div>
                        <span class="fs-22">Years Experience</span>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 ms-auto">
                    <div class="counter-block-one text-center text-lg-start mt-20">
                        <div class="main-count fw-500 text-white"><span [countUp]="1.2"></span>M</div>
                        <span class="fs-22">Low interest rate</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="feedback-section-one mb-30 lg-mb-20">
    <div class="feedback-slider-one">
        <app-owl-corosel [bgColor]="'bg-four'"></app-owl-corosel>
    </div>
</div>

<app-fancy-banner></app-fancy-banner>